@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutHome";
}

@section Styles {
    <link rel="stylesheet" href="~/StyleSheet/Home/Style.css" />
}

<div class="jumbotron">
    <div class="container-xl">
        <h1 class="display-4">Program Restaurant</h1>
        <p>โปรแกรมร้านอาหาร พัฒนาโดย Mixpro Advance Co., Ltd.</p>
        <a href="https://www.mixproadvance.com/" class="btn btn-primary btn-lg">Contact Us</a>
    </div>
</div>

<div class="container-xl">
    <div class="row text-center">
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card h-100" id="StoreFront">
                <div class="text-center">
                    <i class="fas fa-cash-register icon-home"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">ระบบหน้าร้าน</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card h-100" id="Stock">
                <div class="text-center">
                    <i class="fas fa-truck-loading icon-home"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">ระบบสั่งซื้อ</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card h-100" id="Member">
                <div class="text-center">
                    <i class="fas fa-user-circle icon-home"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">ระบบสมาชิก</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card h-100" id="StoreBack">
                <div class="text-center">
                    <i class="fas fa-paste icon-home"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">ระบบทะเบียน</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card h-100" id="Kitchen">
                <div class="text-center">
                    <i class="fas fa-utensils icon-home"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">ระบบห้องครัว</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card h-100" id="Manage">
                <div class="text-center">
                    <i class="fas fa-chart-pie icon-home"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">ระบบบริหาร และบัญชี</h4>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $('#StoreBack').on('click', function () {
            window.location.href = '@Url.Action("Index", "StoreBack")'
        });

        $('#StoreFront').on('click', function () {
            window.location.href = '@Url.Action("Index", "StoreFront")'
        });

        $('#Kitchen').on('click', function () {
            window.location.href = '@Url.Action("Index", "Kitchen")'
        });

        $('#Stock').on('click', function () {
            window.location.href = '@Url.Action("Index", "Stock")'
        });

        $('#Member').on('click', function () {
            window.location.href = '@Url.Action("Index", "Member")'
        });

        $('#Manage').on('click', function () {
            window.location.href = '@Url.Action("Index", "Manage")'
        });

    </script>
}