@model REST.ViewModels.ViewST_Trans;
@{
    ViewData["Title"] = "Store";
    ViewData["System"] = "บันทึกรายการสั่งซื้อ";
    Layout = "_Stock";
}

@section Styles {
    <link href="~/Plugins/Datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-11 mx-auto">
                <!-- Header -->
                <section>
                    <div class="d-flex mb-2">
                        <div class="mr-auto">
                            <a href="@Url.Action("FrmStore", "ST_Store", new { mode = "Add" })" class="btn btn-sm btn-success mr-3"><i class="fas fa-folder-plus"></i>&nbsp;&nbsp;เพิ่ม</a>
                        </div>
                    </div>
                    <hr />
                </section>
                <!-- Header Form -->
                <section>
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">เลขที่เอกสาร :</label>
                                <div class="col-sm-7">
                                    @if (ViewData["Readonly"].ToString() != "")
                                    {
                                        if (ViewData["DocRunning"].ToString() != "")
                                        {                                            
                                            <input asp-for="Document" id="txtDocument" type="text" value="@ViewData["DocRunning"].ToString()" class="form-control form-control-sm" readonly />
                                        }
                                        else
                                        {
                                            <input asp-for="Document" id="txtDocument" type="text" class="form-control form-control-sm" readonly />
                                        }
                                    }
                                    else
                                    {
                                        <input asp-for="Document" id="txtDocument" type="text" class="form-control form-control-sm" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">วันที่เอกสาร :</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="btn btn-primary"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input asp-for="DateDocument" id="txtDateDocument" type="text" class="form-control datepicker" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">วันที่ใบกำกับภาษี :</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="btn btn-primary"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input asp-for="DateTax" id="txtDateTax" type="text" class="form-control datepicker" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">เลขที่ใบกำกับภาษี :</label>
                                <div class="col-sm-7">
                                    <input asp-for="TaxNumber" id="txtTaxNumber" type="text" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">ผู้จัดจำหน่าย :</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <input asp-for="SupplierId" id="txtSupplierId" type="hidden" />
                                        <input asp-for="SupplierName" id="txtSupplierName" type="text" class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-info" type="button"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">เลขที่อ้างอิง :</label>
                                <div class="col-sm-7">
                                    <input asp-for="Reference" id="txtReference" type="text" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Table Form -->
                <section>
                    <p class="font-weight-bold mt-3"><i class="far fa-dot-circle"></i>&nbsp;รายการสั่งซื้อ</p>
                    <table class="table table-md table-bordered" id="tableStaple">
                        <caption><a href="#" class="text-primary" data-toggle="ajax-modal" data-target="#popupStaple" data-url="@Url.Action("_popupStaple", "Modal")">เพิ่มรายการ</a></caption>
                        <thead class="thead-black">
                            <tr>
                                <th class="text-center" style="width:15%;">รหัส</th>
                                <th class="text-center">ชื่อ</th>
                                <th class="text-center" style="width:15%;">จำนวน</th>
                                <th class="text-center" style="width:15%;">ราคา/หน่วย</th>
                                <th class="text-center" style="width:15%;">ราคารวม</th>
                                <th class="text-center" style="width:5%;"><i class="fas fa-ellipsis-h"></i></th>
                            </tr>
                        </thead>
                        <tbody id="bodyt">
                            @if (Model.TranSub != null && Model.TranSub.Count() > 0)
                            {
                                var x = 0;
                                foreach (var row in Model.TranSub)
                                {
                                    x++;
                            <tr>
                                <td hidden>@row.StapleId</td>
                                <td class="text-center">@x</td>
                                <td>@row.StapleName</td>
                                <td>
                                    <input type="text" class="form-table-control form-table-control-sm text-right numberonly" value="@row.Amount">
                                </td>
                                <td>
                                    <input type="text" class="form-table-control form-table-control-sm text-right numberonly" value="@row.Price">
                                </td>
                                <td>
                                    <input type="text" class="form-table-control form-table-control-sm text-right numberonly" value="@row.Total">
                                </td>
                                <td class="text-center"><a href="#" id="remove" class="text-danger">ลบ</a></td>
                            </tr>
                                }
                            }
                            else
                            {
                                <tr id="NoResults">
                                    <td class="text-center text-danger" colspan="6">ไม่มีรายการ</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
                <!-- Footer -->
                <section>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="#" class="btn btn-sm btn-blue mr-3" @ViewData["Disible-save"] btn-save><i class="far fa-save"></i>&nbsp;&nbsp;บันทึก</a>
                        <a href="#" class="btn btn-sm btn-danger @ViewData["Disible-delete"]" btn-delete><i class="far fa-trash-alt"></i>&nbsp;&nbsp;ลบ</a>
                    </div>
                </section>
            </div>
        </div>


        <div class="HeaderDocument">
            <div class="row">
                @*<div class="col-xl-11 mx-auto">
                        <div class="d-flex bd-highlight">
                            <div class="flex-grow-1"><h6 class="font-weight-bold"><span><i class="fas fa-circle-notch mr-2"></i>บันทึกรายการสั่งซื้อ/รับเข้า</span></h6></div>
                            <div class="ml-2 bd-highlight"><a href="@Url.Action("Index", "Store")" class="btn btn-table-sm btn-success"><i class="fas fa-folder-plus mr-2"></i>เพิ่มใหม่</a></div>
                            <div class="ml-2 bd-highlight"><button type="button" class="btn btn-table-sm btn-primary" data-toggle="ajax-modal" data-target="#MadalStaple" data-url="@Url.Action("_StTrans", "Modal")"><i class="fas fa-search mr-2"></i>ค้นหา</button></div>
                        </div>
                        <hr />
                    </div>*@
            </div>
            <!--<div class="row">
                <div class="col-xl-5 col-lg-6 col-md-7 mx-auto">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">เลขที่เอกสาร</label>
                                <input type="text" class="form-control form-control-sm" id="txtDocument">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">วันที่เอกสาร</label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="btn btn-primary"><i class="far fa-calendar-alt"></i></span>
                                    </div>-->
            @*<input type="text" class="form-control form-control-sm" id="txtDate">*@
            <!--<input type="text" class="form-control form-control-sm" id="txtDateMark" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask im-insert="false" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">รายละเอียด</label>
                                <textarea class="form-control form-control-sm" rows="2" id="txtDescription"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        @*<div class="row">
                <div class="col-xl-10 mx-auto">
                    <div class="headerTable mb-2">
                        <h6 class="font-weight-bold d-inline mr-3"><span><i class="fas fa-table mr-2"></i>รายการสั่งซื้อ/รับเข้า</span></h6>
                        <button type="button" class="btn btn-sm btn-info d-inline" data-toggle="ajax-modal" data-target="#MadalStaple" data-url="@Url.Action("_ModalStaple", "Modal")"><i class="fas fa-plus-circle"></i>&nbsp;เพิ่ม</button>
                    </div>
                    <div class="TableDocument">

                        <table class="table sticky table-md table-bordered table-hover">
                            <thead style="background-color:#F8FAFD;">
                                <tr>
                                    <th class="text-center" style="width:15%;">รหัส</th>
                                    <th class="text-center">ชื่อ</th>
                                    <th class="text-center" style="width:15%;">จำนวน</th>
                                    <th class="text-center" style="width:15%;">ราคา/หน่วย</th>
                                    <th class="text-center" style="width:15%;">ราคารวม</th>
                                    <th class="text-center" style="width:3%;"><i class="fas fa-ellipsis-h"></i></th>
                                </tr>
                            </thead>
                            <tbody id="TB">
                                <tr id="NoData">
                                    <td class="text-center" colspan="6">ไม่มีข้อมูล</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>*@
        @*<div class="FooterDocument">
                <div class="row mt-3">
                    <div class="col-xl-10 mx-auto text-right">
                        <button class="btn btn-sm btn-blue" onclick="Save()"><i class="far fa-save"></i>&nbsp;&nbsp;บันทึก</button>
                    </div>
                </div>
            </div>*@
    </div>
</div>

<div id="PlaceHolderHere"></div>


@section Scripts {
    <script src="~/Plugins/Datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Plugins/Datepicker/bootstrap-datepicker-thai.js"></script>
    <script src="~/Plugins/Datepicker/locales/bootstrap-datepicker.th.js"></script>
    <script src="~/Plugins/Numeral/numeral.js"></script>
    <script>
        $(document).ready(function () {
            $(".item_click_Store").addClass("active");

            $('.datepicker').datepicker({
                language: 'th-th',
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                todayBtn: true,
                todayBtn: 'linked',
                autoclose: true
            });

            //$('#txtDate').datepicker({
            //    dateFormat: "dd/mm/yy",
            //}).datepicker('setDate', new Date());

            // Scroll Bar Table Staple
            screenScroll()

            // Get Running
            Running("Store")

        });

        /* Check Param URL  */
        const paramUrls = new URLSearchParams(window.location.search)
        const paramUrl = paramUrls.get('mode')

        // Modal
        var PlaceHolderElement = $('#PlaceHolderHere')
        $('button[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url')
            var decodedUrl = decodeURIComponent(url)
            $.get(url).done(function (data) {
                PlaceHolderElement.html(data)
                PlaceHolderElement.find('.modal').modal('show')
            })
        })

        $('#txtDateMark').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        $('[data-mask]').inputmask()

        let x = 1;

        function Show(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowData", "Store")',
                data: { id: id },
                success: function (data) {
                    $.each(data, function (index, val) {
                        $('#txtDocument').val(val.documents);
                        $('#txtDateMark').val(val.dates);
                        $('#txtDescription').val(val.description);

                        // Remove Td No Data
                        $('#TB').empty()

                        for (let i = 0; i < val.tranSub.length; i++) {
                            var t = `<tr id="row${x}">`
                                + `<td>${val.tranSub[i].stapleId}</td>`
                                + `<td>${val.tranSub[i].stapleName}</td>`
                                + `<td class="text-center"><input type="text" class="form-table-control form-table-control-sm text-right txt_Amount" id="A_${x}" onkeypress="NumberOnly()" value="${numeral(val.tranSub[i].amount).format('0,0.00')}" on></td>`
                                + `<td class="text-right"><input type="text" class="form-table-control form-table-control-sm text-right txt_Price" id="P_${x}" onkeypress="NumberOnly()" value="${numeral(val.tranSub[i].price).format('0,0.00')}"></td>`
                                + `<td class="text-right"><input type="text" class="form-table-control form-table-control-sm text-right" id="Total_${x}" value="${numeral(val.tranSub[i].total).format('0,0.00')}" readonly></td>`
                                + `<td class="text-center"><a href="#" id="remove" class="btn btn-table-sm btn-danger-light text-white"><i class="fas fa-times"></i></a></td>`
                                + '</tr>';
                            $('#TB').append(t)
                            x++;
                        }
                    })
                    $('#MadalStTrans').modal('hide')
                }
            })
        }

        function Running(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Runnings", "Running")',
                data: { id: id },
                success: function (data) {
                    $.each(data, function (index, val) {
                        if (val != null) {
                            $('#txtDocument').val(val);
                            $('#txtDocument').prop('readonly', true);
                        } else {
                            $('#txtDocument').val(val);
                            $('#txtDocument').prop('readonly', false);
                        }
                    })
                }
            })
        }

        function Add(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Add", "Store")',
                data: { id: id},
                success: function (data) {
                    $.each(data, function (index, val) {
                        $('#NoData').remove();

                        var table = document.getElementById('TB')

                        for (let i = 0; i < table.rows.length; i++) {
                            var row = 0;
                            var id = (table.rows[i].cells[0].innerHTML)
                            if (val.stapleId == id) {
                                Swal.fire({
                                    text: "สินค้านี้มีอยู่แล้ว",
                                    icon: 'warning'
                                })
                                return;
                            }
                        }

                        var t = `<tr id="row${x}">`
                            + `<td>${val.stapleId}</td>`
                            + `<td>${val.stapleName}</td>`
                            + `<td class="text-center"><input type="text" class="form-table-control form-table-control-sm text-right txt_Amount" id="A_${x}" onkeypress="NumberOnly()" value="${numeral(1).format('0,0.00')}" on></td>`
                            + `<td class="text-right"><input type="text" class="form-table-control form-table-control-sm text-right txt_Price" id="P_${x}" onkeypress="NumberOnly()" value="${numeral(0).format('0,0.00')}"></td>`
                            + `<td class="text-right"><input type="text" class="form-table-control form-table-control-sm text-right" id="Total_${x}" value="${numeral(0).format('0,0.00')}" readonly></td>`
                            + `<td class="text-center"><a href="#" id="remove" class="btn btn-table-sm btn-danger-light text-white"><i class="fas fa-times"></i></a></td>`
                            + '</tr>';
                        $('#TB').append(t)

                        x++;

                    });

                    $('#MadalStaple').modal('hide')

                }
            });
        }

        $('body').on('click', '#remove', function () {
            $(this).parents('tr').remove();
            var table = document.getElementById('TB')
            if (table.rows.length == 0) {
                var t = '<tr id="NoData">'
                    + '<td class="text-center" colspan="6">ไม่มีข้อมูล</td>'
                    + '</tr>';
                $('#TB').append(t)
            }
        })

        function Save() {
            Swal.fire({
                text: "ต้องการบันทึกข้อมูลหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {

                    let Document = $('#txtDocument').val();
                    let Date = $('#txtDateMark').val();
                    let Description = $('#txtDescription').val();
                    var myH = {
                        Document,
                        Date,
                        Description
                    };

                    if ($('#txtDocument').val() == "") {
                        Swal.fire({
                            text: "กรุณากรอกเลขที่เอกสาร",
                            icon: 'warning'
                        })
                        return;
                    }

                    var myObj = [];
                    var t = document.getElementById('TB')
                    if (t.rows[0].cells[0].innerHTML != "ไม่มีข้อมูล") {
                        if (t.rows.length > 0) {
                            for (let i = 0; i < t.rows.length; i++) {
                                var row = 0;
                                var A_Id = t.rows[i].cells[0].innerHTML
                                var A_Qty = (t.rows[i].cells[2].getElementsByTagName("input")[0].value)
                                var A_Price = (t.rows[i].cells[3].getElementsByTagName("input")[0].value)
                                var A_Total = (t.rows[i].cells[4].getElementsByTagName("input")[0].value)

                                if (A_Total == 0) {
                                    Swal.fire({
                                        text: "กรุณาใส่จำนวน หรือราคา/ต่อหน่อย",
                                        icon: 'warning'
                                    })
                                    return;
                                }
                                var obj = { id: A_Id, qty: A_Qty, price: A_Price, total: A_Total }
                                myObj.push(obj)
                            }
                        }
                    }

                    // Check Data Tabble
                    if (myObj.length == 0) {
                        Swal.fire({
                            text: "กรุณาเลือกรายการ",
                            icon: 'warning'
                        })
                        return;
                    }

                    // SaveData
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Save", "Store")',
                        data: { h: JSON.stringify(myH), d: JSON.stringify(myObj) },
                        success: function (data) {
                            $.each(data, function (index, val) {
                                if (val == "success") {
                                    window.location.href = '@Url.Action("Index", "Store")'
                                } else if (val == "error id") {
                                    Swal.fire({
                                        text: "เลขที่เอกสารนี้มีอยู่แล้ว",
                                        icon: 'error'
                                    })
                                } else {
                                    Swal.fire({
                                        text: "Error Data",
                                        icon: 'error'
                                    })
                                }
                            })
                        }
                    });
                }
            })
        }

        $(document).on('blur', '.txt_Amount', function () {
            let idRow = $(this).attr("id")
            let id = idRow.split("_")[1];
            let Amount = $(`#A_${id}`).val()
            let Price = $(`#P_${id}`).val()

            $.ajax({
                type: 'POST',
                url: '@Url.Action("calculatorAnt2", "Base")',
                data: { A: Amount, P: Price },
                success: function (data) {
                    $.each(data, function (index, val) {
                        $(`#A_${id}`).val(numeral(Amount).format('0,0.00'));
                        $(`#Total_${id}`).val(numeral(val).format('0,0.00'))
                    })
                }
            })
        })

        $(document).on('blur', '.txt_Price', function () {
            let idRow = $(this).attr("id")
            let id = idRow.split("_")[1];
            let Amount = $(`#A_${id}`).val()
            let Price = $(`#P_${id}`).val()

            $.ajax({
                type: 'POST',
                url: '@Url.Action("calculatorAnt2", "Base")',
                data: { A: Amount, P: Price },
                success: function (data) {
                    $.each(data, function (index, val) {
                        $(`#P_${id}`).val(numeral(Price).format('0,0.00'));
                        $(`#Total_${id}`).val(numeral(val).format('0,0.00'))
                    })
                }
            })
        })

        function NumberOnly() {
            const e = event.keyCode
            if (e >= 48 && e <= 57 || e === 8 || e === 13 || e === 46) {
                event.returnValue = true
            } else {
                Swal.fire({ text: "สามารถกดได้แค่ตัวเลข", icon: 'warning' })
                event.returnValue = false
            }
        }

        function screenScroll() {
            var height_P = $(document).height() - $('.HeaderDocument').height() - $('.FooterDocument').height() - $('.headerTable').height() - 175
            $('.TableDocument').slimScroll({
                height: height_P
            });
        }

    </script>
}
