@model REST.ViewModels.ViewST_Trans;
@{
    ViewData["Title"] = "Store";
    ViewData["System"] = "บันทึกรายการสั่งซื้อ";
    Layout = "_Stock";
}

@section Styles {
    <link rel="stylesheet" href="~/Plugins/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css" />
    <link href="~/Plugins/Datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-11 mx-auto">
                <!-- Header -->
                <section>
                    <div class="d-flex mb-2">
                        <div class="mr-auto">
                            <a href="@Url.Action("FrmStore", "ST_Store", new { mode = "Add" })" class="btn btn-sm btn-success mr-3"><i class="fas fa-folder-plus"></i>&nbsp;&nbsp;เพิ่ม</a>
                        </div>
                    </div>
                    <hr />
                </section>
                <!-- Header Form -->
                <section>
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">เลขที่เอกสาร :</label>
                                <div class="col-sm-7">
                                    @if (ViewData["Readonly"].ToString() != "")
                                    {
                                        if (ViewData["DocRunning"].ToString() != "")
                                        {
                                            <input asp-for="Document" id="txtDocument" type="text" value="@ViewData["DocRunning"].ToString()" class="form-control form-control-sm" readonly />
                                        }
                                        else
                                        {
                                            <input asp-for="Document" id="txtDocument" type="text" class="form-control form-control-sm" readonly />
                                        }
                                    }
                                    else
                                    {
                                        <input asp-for="Document" id="txtDocument" type="text" class="form-control form-control-sm" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">วันที่เอกสาร :</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="btn btn-primary"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input asp-for="DateDocument" id="txtDateDocument" type="text" class="form-control datepicker" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">วันที่ใบกำกับภาษี :</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="btn btn-primary"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input asp-for="DateTax" id="txtDateTax" type="text" class="form-control datepicker" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">เลขที่ใบกำกับภาษี :</label>
                                <div class="col-sm-7">
                                    <input asp-for="TaxNumber" id="txtTaxNumber" type="text" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">ผู้จัดจำหน่าย :</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <input asp-for="SupplierId" id="txtSupplierId" type="hidden" />
                                        <input asp-for="SupplierName" id="txtSupplierName" type="text" class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-danger" type="button" onclick="clearSupplier()"><i class="fas fa-redo-alt"></i></button>
                                            <a class="btn btn-info" data-toggle="ajax-modal" data-target="#popupStaple" data-url="@Url.Action("_popupSupplier", "Modal")"><i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">เลขที่อ้างอิง :</label>
                                <div class="col-sm-7">
                                    <input asp-for="Reference" id="txtReference" type="text" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Table Form -->
                <section>
                    <p class="font-weight-bold mt-3"><i class="far fa-dot-circle"></i>&nbsp;รายการสั่งซื้อ</p>
                    <div class="card border-0">
                        <div class="card-body table-responsive p-0" scroll>
                            <table class="table table-md table-bordered table-head-fixed" id="tableStaple">
                                <caption><a href="#" class="text-primary" data-toggle="ajax-modal" data-target="#popupStaple" data-url="@Url.Action("_popupStaple", "Modal")">เพิ่มรายการ</a></caption>
                                <thead class="thead-black">
                                    <tr>
                                        <th class="text-center" style="width:15%;">รหัส</th>
                                        <th class="text-center">ชื่อ</th>
                                        <th class="text-center" style="width:15%;">จำนวน</th>
                                        <th class="text-center" style="width:15%;">ราคา/หน่วย</th>
                                        <th class="text-center" style="width:15%;">ราคารวม</th>
                                        <th class="text-center" style="width:5%;"><i class="fas fa-ellipsis-h"></i></th>
                                    </tr>
                                </thead>
                                <tbody id="bodyt">
                                    @if (Model.TranSub != null && Model.TranSub.Count() > 0)
                                    {
                                        var x = 0;
                                        foreach (var row in Model.TranSub)
                                        {
                                            x++;
                                            string A = "A" + x;
                                            string P = "P" + x;
                                            string T = "T" + x;
                                            <tr>
                                                <td>@row.StapleId</td>
                                                <td>@row.StapleName</td>
                                                <td>
                                                    <input id="@A" type="text" value="@row.Amount" class="form-table-control form-table-control-sm text-right numberonly Amount">
                                                </td>
                                                <td>
                                                    <input id="@P" type="text" value="@row.Price" class="form-table-control form-table-control-sm text-right numberonly Price">
                                                </td>
                                                <td>
                                                    <input id="@T" type="text" value="@row.Total" class="form-table-control form-table-control-sm text-right numberonly Total">
                                                </td>
                                                <td class="text-center"><a href="#" id="remove" class="text-danger">ลบ</a></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr id="NoResults">
                                            <td class="text-center text-danger" colspan="6">ไม่มีรายการ</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- Footer Form -->
                <section>
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">ยอดรวมสุทธิ :</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <input asp-for="SumBalance" id="txtSumBalance" type="text" class="form-control text-right" placeholder="0.00" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">บาท</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Footer -->
                <section>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="#" class="btn btn-sm btn-blue mr-3" @ViewData["Disible-save"] btn-save><i class="far fa-save"></i>&nbsp;&nbsp;บันทึก</a>
                        <a href="#" class="btn btn-sm btn-danger @ViewData["Disible-delete"]" btn-delete><i class="far fa-trash-alt"></i>&nbsp;&nbsp;ลบ</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div id="PlaceHolderHere"></div>


@section Scripts {
    <script src="~/Plugins/Datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Plugins/Datepicker/bootstrap-datepicker-thai.js"></script>
    <script src="~/Plugins/Datepicker/locales/bootstrap-datepicker.th.js"></script>
    <script src="~/Plugins/DataTables/datatables.min.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Plugins/Numeral/numeral.js"></script>
    <script>
        $(document).ready(function () {
            $(".item_click_Store").addClass("active");

            $('.datepicker').datepicker({
                language: 'th-th',
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                todayBtn: true,
                todayBtn: 'linked',
                autoclose: true
            });

            $('[scroll]').slimScroll({
                height: $(window).height() - 488,
                railBorderRadius: 0,
                railVisible: true,
                distance: '-10px'
            });
        });

        $(document).on('keypress ', '.numberonly', function () {
            const e = event.keyCode
            if (e >= 48 && e <= 57 || e === 8 || e === 13 || e === 46) {
                event.returnValue = true
            } else {
                Swal.fire({ text: "สามารถกดได้แค่ตัวเลข", icon: 'warning' })
                event.returnValue = false
            }
        })

        $(document).on('blur ', '.numberonly', function () {
            const number = $(this).val()
            $(this).val(numeral(number).format('0,0.00'))
        })

        /* Check Param URL  */
        const paramUrls = new URLSearchParams(window.location.search)
        const paramUrl = paramUrls.get('mode')

        // Modal
        var PlaceHolderElement = $('#PlaceHolderHere')
        $('a[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url')
            $.get(url).done(function (data) {
                PlaceHolderElement.html(data)
                PlaceHolderElement.find('.modal').modal('show')
            })
        })

        let x = 1;

        function show(id) {

            $('#NoResults').remove();

            $.get("@Url.Action("GetCD_Staple", "api")" + "/AShowStaple", { id: id },
                function (data, status) {
                    // เช็คข้อมูลในตาราง
                    var table = document.getElementById('tableStaple')
                    for (let i = 0; i < table.rows.length; i++) {
                        var id = (table.rows[i].cells[0].innerHTML)
                        if (data.stapleId == id) {
                            Swal.fire({ text: "วัตถุดิบนี้มีอยู่แล้ว", icon: 'warning' })
                            return;
                        }
                    }

                    var A = "A" + x;
                    var P = "P" + x;
                    var T = "T" + x;

                    var rowItem = `<tr>`
                        + `<td>${data.stapleId}</td>`
                        + `<td>${data.stapleName}</td>`
                        + `<td>`
                        + `<input id="${A}" type="text" class="form-table-control form-table-control-sm text-right numberonly Amount" placeholder="0.00" >`
                        + `</td>`
                        + `<td>`
                        + `<input id="${P}" type="text" class="form-table-control form-table-control-sm text-right numberonly Price" placeholder="0.00" >`
                        + `</td>`
                        + `<td>`
                        + `<input id="${T}" type="text" readonly class="form-control-plaintext form-table-control form-table-control-sm text-right numberonly Total" placeholder="0.00" >`
                        + `</td>`
                        + `<td class="text-center"><a href="#" id="remove" class="text-danger">ลบ</a></td>`
                        + `</tr>`;
                    $("#bodyt").append(rowItem)


                    x++;
                }
            )

            $('#popupStaple').modal('hide')
        }

        $(document).on('blur', '.Amount', function () {
            const id = $(this).attr("id")
            const number = id.substring(1)

            const Amount = parseFloat($(`#A${number}`).val().replace(/,/g, ''))
            const Price = parseFloat($(`#P${number}`).val().replace(/,/g, ''))
            const Total = Amount * Price

            $(`#T${number}`).val(numeral(Total).format('0,0.00'))

            // Sum

            const table = document.getElementById('tableStaple')
            var sum = 0;

            for (let i = 1; i < table.rows.length; i++) {
                const A_Total = table.rows[i].cells[4].getElementsByTagName("input")[0].value
                sum += parseFloat(A_Total.replace(/,/g, ''))
            }

            $('#txtSumBalance').val(numeral(sum).format('0,0.00'))
        })

        $(document).on('blur', '.Price', function () {
            const id = $(this).attr("id")
            const number = id.substring(1)

            const Amount = parseFloat($(`#A${number}`).val().replace(/,/g, ''))
            const Price = parseFloat($(`#P${number}`).val().replace(/,/g, ''))
            const Total = Amount * Price

            $(`#T${number}`).val(numeral(Total).format('0,0.00'))

            // Sum

            const table = document.getElementById('tableStaple')
            var sum = 0;

            for (let i = 1; i < table.rows.length; i++) {
                const A_Total = table.rows[i].cells[4].getElementsByTagName("input")[0].value
                sum += parseFloat(A_Total.replace(/,/g, ''))
            }

            $('#txtSumBalance').val(numeral(sum).format('0,0.00'))
        })

        $('body').on('click', '#remove', function () {
            $(this).parents('tr').remove();

            var tbody = document.getElementById('bodyt')

            if (tbody.rows.length == 0) {
                var t = '<tr id="NoData">'
                    + '<td class="text-center" colspan="6">ไม่มีข้อมูล</td>'
                    + '</tr>';
                $('#TB').append(t)

                $('#txtSumBalance').val(numeral(0).format('0,0.00'))
            } else {
                // Sum

                var sum = 0;
                var table = document.getElementById('tableStaple')

                for (let i = 1; i < table.rows.length; i++) {
                    const A_Total = table.rows[i].cells[4].getElementsByTagName("input")[0].value
                    sum += parseFloat(A_Total.replace(/,/g, ''))
                }

                $('#txtSumbalance').val(numeral(sum).format('0,0.00'))
            }
        })

        function showSupplier(id) {
            $.get("@Url.Action("GetMB_Supplier", "api")" + "/AShowSupplier", { id: id },
                function (data, status) {
                    $('#txtSupplierId').val(data.supplierId)
                    var Title = ""
                    if (data.title != null) {
                        Title = data.title
                    }
                    var FirstName = ""
                    if (data.firstName != null) {
                        FirstName = data.firstName
                    }
                    var LastName = ""
                    if (data.lastName != null) {
                        LastName = data.lastName
                    }
                    const name = Title + ' ' + FirstName + ' ' + LastName
                    $('#txtSupplierName').val(name)
                }
            )

            $('#popupSupplier').modal('hide')
        }

        function clearSupplier() {
            $('#txtSupplierId').val('')
            $('#txtSupplierName').val('')
        }

        document.querySelector("[btn-save]").addEventListener('click', () => {
             Swal.fire({
                text: "ต้องการบันทึกข้อมูลหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {

                    if ($('#txtDocument').val() == '') {
                        Swal.fire({ text: "กรุณากรอกเลขที่เอกสาร", icon: 'warning' })
                        return;
                    }

                    if ($('#txtDateDocument').val() == '') {
                        Swal.fire({ text: "กรุณากรอกวันที่เอกสาร", icon: 'warning' })
                        return;
                    }

                    if ($('#txtSupplierId').val() == '') {
                        Swal.fire({ text: "กรุณากรอกข้อมูล Supplier", icon: 'warning' })
                        return;
                    }

                    if ($('#txtSumBalance').val() == '' || $('#txtSumBalance').val() == 0) {
                        Swal.fire({ text: "กรุณาเลือกวัตถุดิบ", icon: 'warning' })
                        return;
                    }

                    var tdata = [];

                    // ตาราง
                    var t = document.getElementById('bodyt')
                    if (t.rows[0].cells[0].innerHTML != "ไม่มีรายการ") {
                        if (t.rows.length > 0) {
                            for (let i = 0; i < t.rows.length; i++) {
                                var id = t.rows[i].cells[0].innerHTML
                                var amount = t.rows[i].cells[2].getElementsByTagName("input")[0].value
                                var price = t.rows[i].cells[3].getElementsByTagName("input")[0].value
                                var total = t.rows[i].cells[4].getElementsByTagName("input")[0].value

                                var obj = { StapleId: id, Amount: amount, Price: price, Total: total }
                                tdata.push(obj)
                            }
                        }
                    }

                    var data = new FormData();
                    data.append('Document', $('#txtDocument').val());
                    data.append('DateDocument', $('#txtDateDocument').val());
                    data.append('DateTax', $('#txtDateTax').val());
                    data.append('TaxNumber', $('#txtTaxNumber').val());
                    data.append('SupplierId', $('#txtSupplierId').val());
                    data.append('Reference', $('#txtReference').val());
                    data.append('SumBalance', $('#txtSumBalance').val());
                    data.append('Sub', JSON.stringify(tdata));

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("FrmSave", "ST_Store")',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {
                            $.each(data, function (index, val) {
                                if (val == "success") {
                                    window.location.href = '@Url.Action("Index", "ST_Store")'
                                } else {
                                    Swal.fire({ text: "ไม่สามารถบันทึกข้อมูลได้", icon: 'warning'} )
                                }
                            })
                        }
                    });
                }
            })
        })

        document.querySelector("[btn-delete]").addEventListener('click', () => {
             Swal.fire({
                text: "ต้องการลบข้อมูลหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {

                    var tdata = [];

                    // ตาราง
                    var t = document.getElementById('bodyt')
                    if (t.rows[0].cells[0].innerHTML != "ไม่มีรายการ") {
                        if (t.rows.length > 0) {
                            for (let i = 0; i < t.rows.length; i++) {
                                var id = t.rows[i].cells[0].innerHTML
                                var amount = t.rows[i].cells[2].getElementsByTagName("input")[0].value
                                var price = t.rows[i].cells[3].getElementsByTagName("input")[0].value
                                var total = t.rows[i].cells[4].getElementsByTagName("input")[0].value

                                var obj = { StapleId: id, Amount: amount, Price: price, Total: total }
                                tdata.push(obj)
                            }
                        }
                    }

                    var data = new FormData();
                    data.append('Document', $('#txtDocument').val());
                    data.append('DateDocument', $('#txtDateDocument').val());
                    data.append('DateTax', $('#txtDateTax').val());
                    data.append('TaxNumber', $('#txtTaxNumber').val());
                    data.append('SupplierId', $('#txtSupplierId').val());
                    data.append('Reference', $('#txtReference').val());
                    data.append('SumBalance', $('#txtSumBalance').val());
                    data.append('Sub', JSON.stringify(tdata));

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "ST_Store")',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {
                            $.each(data, function (index, val) {
                                if (val == "success") {
                                    window.location.href = '@Url.Action("Index", "ST_Store")'
                                } else {
                                    Swal.fire({ text: "ไม่สามารถลบข้อมูลได้", icon: 'warning'} )
                                }
                            })
                        }
                    });
                }
            })
        })
    </script>
}
