@using REST.Service;
@{
    ViewData["Title"] = "ระบบหน้าร้าน";
    ViewData["System"] = "ออเดอร์รายวัน";
    Layout = "_StoreFront";
    var OrderSub = ViewBag.Data;
    var Order = ViewBag.Desc;
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-11 mx-auto">
                <!-- PANEL HEAD -->
                <section class="panel-head">
                    <div class="row">
                        <div class="col-xl-7 mx-auto">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">เลขที่ออเดอร์ :</label>
                                        <div class="col-sm-7">
                                            <p class="col-form-label-sm border-bottom mb-0">@Order.OrderId</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">ชื่อโต๊ะ :</label>
                                        <div class="col-sm-7">
                                            <p class="col-form-label-sm border-bottom mb-0">@Order.TableName</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">สถานะ :</label>
                                        <div class="col-sm-7">
                                            @{
                                                if (Order.ST == 1)
                                                {
                                                    <p class="col-form-label-sm border-bottom mb-0 text-danger">ยังไม่ได้ทำ</p>
                                                }
                                                else if (Order.ST == 2)
                                                {
                                                    <p class="col-form-label-sm border-bottom mb-0 text-warning">กำลังดำเนินการ</p>
                                                }
                                                else if (Order.ST == 3)
                                                {
                                                    <p class="col-form-label-sm border-bottom mb-0 text-success">เรียบร้อยแล้ว</p>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label col-form-label-sm text-sm-right">วันที่ออเดอร์ :</label>
                                        <div class="col-sm-7">
                                            <p class="col-form-label-sm border-bottom mb-0">@Order.Dates</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- PANEL TABLE -->
                <section class="panel-table">
                    <p class="font-weight-bold mt-3"><i class="far fa-dot-circle"></i>&nbsp;รายการอาหาร</p>
                    <div class="card border-0">
                        <div class="card-body table-responsive p-0" scroll>
                            <table class="table table-md table-bordered table-head-fixed text-nowrap">
                                <thead class="thead-black">
                                    <tr>
                                        <th class="text-center" style="width:5%;">ลำดับ</th>
                                        <th class="text-center">รหัส</th>
                                        <th class="text-center">ชื่ออาหาร</th>
                                        <th class="text-center" style="width:5%;"><i class="fas fa-info-circle"></i></th>
                                        <th class="text-center" style="width:12%;">จำนวน</th>
                                        <th class="text-center"><i class="fas fa-bars"></i></th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">
                                    @{
                                        if (OrderSub.Count > 0)
                                        {
                                            var x = 0;
                                            foreach (var row in OrderSub)
                                            {
                                                x++;
                                                <tr>
                                                    <td class="text-center">@x</td>
                                                    <td>@row.FoodId</td>
                                                    <td>@row.FoodName</td>
                                                    @if (row.Status == 1)
                                                    {
                                                        <td class="text-center text-danger"><i class="far fa-times-circle"></i></td>                                                        
                                                    }
                                                    else if (row.Status == 2)
                                                    {
                                                        <td class="text-center text-warning"><i class="fas fa-diagnoses"></i></td>
                                                    }
                                                    else if (row.Status == 3)
                                                    {
                                                        <td class="text-center text-success"><i class="far fa-check-circle"></i></td>
                                                    }
                                                    else if (row.Status == 4)
                                                    {
                                                        <td class="text-center text-danger">ยกเลิก</td>
                                                    }
                                                    <td class="text-right">@row.Amount</td>
                                                    <td class="text-center bg-red-light" style="width:5%;">                                                                                    
                                                        <a href="#" onclick="removeOrder('@Order.OrderId', '@row.FoodId', '@Order.TableId');" class="text-danger"><i class="far fa-trash-alt"></i></a>                                                                                    
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="6" class="text-center">ไม่มีรายการ</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $(".item_click_Order").addClass("active");

            $('[scroll]').slimScroll({
                height: $(window).height() - $('.navbar').height() - $('.panel-head').height() - 148,
                railBorderRadius: 0,
                railVisible: true
            });
        });

        function removeOrder(orderid, foodid, tableid) {
            Swal.fire({
                text: "ยกเลิกรายการอาหารหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    window.location.href = '@Url.Action("removeOrder", "SF_Daily")?OrderId=' + orderid + '&FoodId=' + foodid + '&TableId=' + tableid
                }
            })
        }
    </script>
}