@using REST.Service;
@{
    ViewData["Title"] = "Kitchen";
    ViewData["System"] = "ออเดอร์รายวัน";
    Layout = "_Kitchen";
    var DateNow = DateTime.Now.ToString("dd/MM/yyyy");
    var DataOrder = ViewBag.DataTable;
}

@section Styles{
    <link href="~/Plugins/Datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
}

<div class="card rounded-0">
    <div class="card-body">
        <div class="row">
            <div class="col mx-auto">
                <section class="head">
                    @*<div class="d-flex">
                        <div class="flex-grow-1">ข้อมูล</div>
                        <div class="ml-2">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">วันที่</span>
                                </div>
                                <input type="text" class="form-control datepicker" placeholder="dd/MM/yyyy" value="@DateNow">
                            </div>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" id="tabledropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-exclamation-circle"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tabledropdown">
                                    <button class="dropdown-item active" type="button" value="">Show All</button>
                                    <button class="dropdown-item" type="button" value="1"><span class="text-danger"><i class="far fa-times-circle"></i>&nbsp;</span>ยังไม่ได้ทำ</button>
                                    <button class="dropdown-item" type="button" value="2"><span class="text-success"><i class="far fa-check-circle"></i>&nbsp;</span>ทำเสร็จแล้ว</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    @*<hr />*@
                </section>
                
                <section class="panel-table">

                    @*<h3 class="card-title">Fixed Header Table</h3>
        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>*@

                    @*<div class="d-flex">
                        <div><input type="text" class="form-control form-control-sm" /></div>
                    </div>*@
                    @*<div class="d-flex mb-3">
                        <div class="mr-auto">
                            <div hidden><input type="text" class="form-control form-control-sm" placeholder="ค้นหา..." /></div>
                        </div>
                        <div class="ml-2">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">วันที่</span>
                                </div>
                                <input type="text" id="txtdate" class="form-control datepicker" placeholder="dd/MM/yyyy" value="@DateNow">
                            </div>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group" hidden>
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" id="tabledropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-exclamation-circle"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tabledropdown">
                                    <button class="dropdown-item active" type="button" value="">Show All</button>
                                    <button class="dropdown-item" type="button" value="1"><span class="text-danger"><i class="far fa-times-circle"></i>&nbsp;</span>ยังไม่ได้ทำ</button>
                                    <button class="dropdown-item" type="button" value="2"><span class="text-success"><i class="far fa-check-circle"></i>&nbsp;</span>ทำเสร็จแล้ว</button>
                                </div>
                            </div>
                        </div>
                    </div>*@

                    <div class="d-flex mb-3">
                        <div class="mr-auto">
                            <div class="font-weight-bold"><i class="fas fa-greater-than"></i>&nbsp;ออเดอร์รายวัน</div>
                        </div>
                        <div class="ml-2">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="btn btn-primary"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" id="txtdate" class="form-control datepicker" placeholder="dd/MM/yyyy" value="@DateNow">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button" id="btnSearch"><i class="fas fa-search"></i>&nbsp;ค้นหา</button>
                                </div>
                            </div>
                        </div>
                        <div class="ml-2">
                            <div><button class="btn btn-sm btn-info" type="button" id="btnSearchAll"><i class="fas fa-globe-europe"></i>&nbsp;ทั้งหมด</button></div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body table-responsive p-0" scroll>
                            <table class="table table-md table-bordered table-head-fixed text-nowrap">
                                <thead class="thead-primary-light">
                                    <tr>
                                        <th class="text-center" style="width:5%;">ลำดับ</th>
                                        <th class="text-center">เลขที่ออเดอร์</th>
                                        <th class="text-center" style="width:15%;">วันที่รับออเดอร์</th>
                                        <th class="text-center">ชื่อโต๊ะ</th>
                                        <th class="text-center" style="width:5%;">สถานะ</th>
                                        <th class="text-center" style="width:15%;">จำนวนเงิน</th>
                                        <th class="text-center" style="width:5%;"><i class="fas fa-info-circle"></i></th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">
                                    @{
                                        if (DataOrder.Count > 0)
                                        {
                                            var x = 0;
                                            foreach (var row in DataOrder)
                                            {
                                                x++;
                                                <tr>
                                                    <td class="text-center">@x</td>
                                                    <td>@row.OrderId</td>
                                                    <td class="text-center">@row.Dates</td>
                                                    <td class="text-center">@row.TableName</td>
                                                    @if (row.ST == 1)
                                                    {
                                                        <td class="text-center text-danger"><i class="far fa-times-circle"></i></td>
                                                    }
                                                    else if(row.ST == 2)
                                                    {
                                                        <td class="text-center text-warning"><i class="fas fa-diagnoses"></i></td>
                                                    }
                                                    else if(row.ST == 3)
                                                    {
                                                        <td class="text-center text-success"><i class="far fa-check-circle"></i></td>
                                                    }
                                                    <td class="text-right">@row.PriceTotal.ToString("N2")</td>
                                                    <td class="text-center"><a href="@Url.Action("FrmKC_OrderSub", "Kitchen", new { id = row.OrderId})" class="text-info"><i class="far fa-eye"></i></a></td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7" class="text-center text-danger">ไม่มีรายการ</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/Plugins/DataTables/datatables.min.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>*@
    <script src="~/Plugins/Datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Plugins/Datepicker/bootstrap-datepicker-thai.js"></script>
    <script src="~/Plugins/Datepicker/locales/bootstrap-datepicker.th.js"></script>
    <script src="~/Plugins/Numeral/numeral.js"></script>
    <script>
        $(document).ready(function () {
            // Add Side Menu
            $(".item_click_OrderDate").addClass("active");
            // DataTable
            //$('#DataTable').DataTable({
            //    "info": false,
            //    "ordering": false,
            //    "searching": false
            //});
            // From DatePicker
            $('.datepicker').datepicker({
                language: 'th-th',
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                todayBtn: true,
                todayBtn: 'linked',
                autoclose: true
            });
            // Scroll Table
            $('[scroll]').slimScroll({
                height: $(window).height() - $('.navbar').height() - 140,
                railBorderRadius: 0,
                railVisible: true,
                distance: '-10px'
            });
        });

        document.getElementById('btnSearch').addEventListener('click', () => {
            const date = $('#txtdate').val()
            const tp = $('#table-body')
            tp.empty()
            let x = 0;
            var t;
            $.get("@Url.Action("GetSF_Order", "api")" + "/AOrder", { OrderDt: date },
                function (data, status) {
                    if (data.length > 0) {
                        $.each(data, function (index, val) {
                            x++;
                            var link = `@Url.Action("FrmKC_OrderSub", "Kitchen")` + `/` + `${val.orderId}`;
                            t = '<tr>'
                                + `<td class="text-center">${x}</td>`
                                + `<td>${val.orderId}</td>`
                                + `<td class="text-center">${val.dates}</td>`
                                + `<td>${val.tableName}</td>`
                                if (val.st == 1) {
                                    t += `<td class="text-center text-danger"><i class="far fa-times-circle"></i></td>`
                                } else if (val.st == 2) {
                                    t += `<td class="text-center text-warning"><i class="fas fa-diagnoses"></i></td>`
                                } else {
                                    t += `<td class="text-center text-success"><i class="far fa-check-circle"></i></td>`
                                }
                                t += `<td class="text-right">${numeral(val.priceTotal).format('0,0.00')}</td>`
                                + `<td class="text-center"><a href="${link}" class="text-info"><i class="far fa-eye"></i></td>`
                                + '</tr>';

                            $('#table-body').append(t)
                        })
                    } else {
                        t = '<tr><td colspan="7" class="text-center text-danger">ไม่มีรายการ</td></tr>';
                        $('#table-body').append(t)
                    }

                }
            )
        })

        document.getElementById('btnSearchAll').addEventListener('click', () => {
            const date = $('#txtdate').val()
            const tp = $('#table-body')
            tp.empty()
            let x = 0;
            var t;
            $.get("@Url.Action("GetSF_Order", "api")" + "/AOrder",
                function (data, status) {
                    if (data.length > 0) {
                        $.each(data, function (index, val) {
                            x++;
                            var link = `@Url.Action("FrmKC_OrderSub", "Kitchen")` + `/` + `${val.orderId}`;
                            t = '<tr>'
                                + `<td class="text-center">${x}</td>`
                                + `<td>${val.orderId}</td>`
                                + `<td class="text-center">${val.dates}</td>`
                                + `<td>${val.tableName}</td>`
                                if (val.st == 1) {
                                    t += `<td class="text-center text-danger"><i class="far fa-times-circle"></i></td>`
                                } else if (val.st == 2) {
                                    t += `<td class="text-center text-warning"><i class="fas fa-diagnoses"></i></td>`
                                } else {
                                    t += `<td class="text-center text-success"><i class="far fa-check-circle"></i></td>`
                                }
                                t += `<td class="text-right">${numeral(val.priceTotal).format('0,0.00')}</td>`
                                + `<td class="text-center"><a href="${link}" class="text-info"><i class="far fa-eye"></i></td>`
                                + '</tr>';

                            $('#table-body').append(t)
                        })
                    } else {
                        t = '<tr><td colspan="7" class="text-center text-danger">ไม่มีรายการ</td></tr>';
                        $('#table-body').append(t)
                    }

                }
            )
        })      
    </script>
}