@using REST.Service;
@{
    var Table = ViewBag.Table;
    ViewData["Title"] = "Order";
    ViewData["System"] = Table.TableName;
    Layout = "_Order";
    var amount = 0;
    var price = 0;
}

@section Styles {
    <link rel="stylesheet" href="~/StyleSheet/Order/Index.css" />
}

<div class="container-fluid">
    <!-- content-table-heard -->
    <section class="content-table-heard">
        @*<div class="card mt-3 mb-3">
            <div class="card-body py-2">
                <div class="d-flex">
                    <div class="mr-auto">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary text-white" type="button"><i class="fas fa-apple-alt"></i></button>
                            </div>
                            <select class="form-control" id="GroupFood">
                                <option value="">Show All</option>
                                @foreach (var row in ViewBag.GroupFood)
                                {
                                    <option value="@row.GroupFoodId">@row.GroupFoodName</option>
                                }
                            </select>
                        </div>
                    </div>
                    @{
                        string bg = "";
                        if(Table.TableST == 1)
                        {
                            bg = "color-green";
                        }else if(Table.TableST == 2)
                        {
                            bg = "color-red";
                        }else if(Table.TableST == 3)
                        {
                            bg = "color-yellow";
                        }
                        <div class="ml-2"><h6 class="mb-0 mt-1"><strong>รหัส : </strong>&nbsp;@Table.TableId</h6></div>
                        <div class="ml-2"><h6 class="mb-0 mt-1"><strong>ชื่อ : </strong>&nbsp;@Table.TableName</h6></div>
                        <div class="ml-2"><h6 class="mb-0 mt-1"><strong>สถานะ : </strong>&nbsp;<span class="@bg"><i class="fas fa-circle"></i>&nbsp;</span>@Table.Status</h6></div>
                    }
                </div>
            </div>
        </div>*@
    </section>

    <div class="card mt-3">
        <div class="card-body" scroll-card>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                @{
                    var x = 0;
                    foreach (var row in ViewBag.GroupFood)
                    {
                        x++;
                        if (x == 1)
                        {
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="@row.GroupFoodId-tab" data-toggle="tab" href="#@row.GroupFoodId" role="tab" aria-controls="@row.GroupFoodId" aria-selected="true">@row.GroupFoodName</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="@row.GroupFoodId-tab" data-toggle="tab" href="#@row.GroupFoodId" role="tab" aria-controls="@row.GroupFoodId" aria-selected="true">@row.GroupFoodName</a>
                            </li>
                        }

                    }
                }
            </ul>

            <div class="tab-content mt-3" id="myTabContent">
                @{
                    var z = 0;
                    foreach (var row in ViewBag.GroupFood)
                    {
                        z++;
                        if (z == 1)
                        {
                            <div class="tab-pane fade show active" id="@row.GroupFoodId" role="tabpanel" aria-labelledby="@row.GroupFoodId-tab">
                                <div class="row" panel-food>
                                    @foreach (var row1 in ViewBag.Food)
                                    {
                                        if (row1.GroupFoodId == row.GroupFoodId)
                                        {
                                            var Image = "~/Images/Food/" + (row1.ImageName ?? "NOIMAGE.jpg");
                                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                                                <button class="btn btn-block text-truncate p-0 button_order" onclick="amountfood('@Url.Action("_AmountFood", "Modal", new { id = row1.FoodId})')" data-toggle="ajax-modal" data-target="#amountfood">
                                                    <span class="price_order">@row1.Price.ToString("N2")</span>
                                                    <img src="@Image" class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />
                                                    <p class="mb-0">@row1.FoodName</p>
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="tab-pane fade" id="@row.GroupFoodId" role="tabpanel" aria-labelledby="@row.GroupFoodId-tab">
                                <div class="row" panel-food>
                                    @foreach (var row1 in ViewBag.Food)
                                    {
                                        if (row1.GroupFoodId == row.GroupFoodId)
                                        {
                                            var Image = "~/Images/Food/" + (row1.ImageName ?? "NOIMAGE.jpg");
                                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                                                <button class="btn btn-block text-truncate p-0 button_order" onclick="amountfood('@Url.Action("_AmountFood", "Modal", new { id = row1.FoodId})')" data-toggle="ajax-modal" data-target="#amountfood">
                                                    <span class="price_order">@row1.Price.ToString("N2")</span>
                                                    <img src="@Image" class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />
                                                    <p class="mb-0">@row1.FoodName</p>
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                }
            </div>



            @*<div class="row" panel-food>
            @foreach (var row in ViewBag.Food)
            {
                var Image = "~/Images/Food/" + (row.ImageName ?? "NOIMAGE.jpg");
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                    <button class="btn btn-block text-truncate p-0 button_order" onclick="amountfood('@Url.Action("_AmountFood", "Modal", new { id = row.FoodId})')" data-toggle="ajax-modal" data-target="#amountfood">
                        <span class="price_order">@row.Price.ToString("N2")</span>
                        <img src="@Image" class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />
                        <p class="mb-0">@row.FoodName</p>
                    </button>
                </div>
            }
        </div>*@
        </div>
    </div>
</div>

<div class="menubar">
    <div class="sidebar-right">
        <section class="order-body" scroll>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">รายการใหม่</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="old-tab" data-toggle="tab" href="#old" role="tab" aria-controls="old" aria-selected="false">รายการเดิม</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr hidden>
                                <th>รหัส</th>
                                <th>ชื่อ</th>
                                <th style="width:5%;">จำนวน</th>
                                <th style="width:5%;">#</th>
                            </tr>
                        </thead>
                        <tbody table-body>
                        </tbody>
                    </table>
                    <img src="~/Images/System/NoOrder.png" style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);" img-no-order />
                </div>
                <div class="tab-pane fade" id="old" role="tabpanel" aria-labelledby="old-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr hidden>
                                <th>รหัส</th>
                                <th>ชื่อ</th>
                                <th style="width:5%;">จำนวน</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var row in ViewBag.Order)
                                {
                                    amount += row.Amount;
                                    price += row.Price * row.Amount;
                                    <tr>
                                        <td hidden>@row.FoodId</td>
                                        <td>
                                            <div>@row.FoodName</div>
                                            <div><strong> ราคา: </strong>@Share.Cnumber(Share.FormatDouble(row.Price), 2)</div>
                                        </td>
                                        <td class="text-right pr-4" style="width:20%;"><strong>@Share.FormatInteger(row.Amount)</strong></td>                                        
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>            
        </section>
        <section class="order-footer">
            <div class="card bg-card-order">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">รายการ :</label>
                        <div class="col-sm-8">
                            <input type="text" class="input-order text-right" value="@amount" id="txtcount" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">ราคารวม :</label>
                        <div class="col-sm-8">
                            <input type="text" class="input-order text-right" value="@price.ToString("N2")" id="txtsum" readonly>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <button type="button" class="btn btn-block btn-success" btn-save><i class="fas fa-cart-arrow-down"></i>&nbsp;บันทึก</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-block btn-outline-danger" btn-cancel><i class="fas fa-ban"></i>&nbsp;ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div id="PlaceHolderHere"></div>

@section Scripts {
    <script src="~/Plugins/Numeral/numeral.js"></script>
    <script>
        $(document).ready(function () {
            const img = $('[img-no-order]')
            img.show()
            screenScroll()
            Scroll()
            Order()
        });

        @*document.getElementById('GroupFood').addEventListener('change', () => {
            const groupfood = $('#GroupFood').val()
            const panel = $('[panel-food]')
            panel.empty() // ให้ข้อมูลโต๊ะ = ว่าง
            $.post("@Url.Action("GetFood", "SF_Order")", { id: groupfood },
            function (data, status) {
                $.each(data, function (index, val) {
                    val.forEach(function (value) {
                        var image = "";
                        if (value.imageName != null) {
                            image = 'src="@Url.Action("Food","Images")' + '/' + value.imageName + '"';
                        } else {
                            image = 'src="@Url.Action("Food", "Images")' + '/' +'NOIMAGE.jpg"';
                        }
                        var link = '@Url.Action("_AmountFood", "Modal")' + '/' + value.foodId;
                        var p = '<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">'
                            + `<button class="btn btn-block text-truncate p-0 button_order" onclick="amountfood('${link}')" data-toggle="ajax-modal" data-target="#amountfood">`
                            + `<span class="price_order">${numeral(value.price).format('0,0.00')}</span>`
                            + `<img ${image} class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />`
                            + `<p class="mb-0">${value.foodName}</p>`
                            + '</button>'
                            + '</div>';
                        panel.append(p)
                    })
                })
            });
        })*@

        function Order() {
            const table = $('[table-body]')
            const img = $('[img-no-order]')
            const txtcount = $('#txtcount')
            const txtsum = $('#txtsum')
            table.empty()
            $.get("@Url.Action("GetOrder", "SF_Order")",
                function (data, status) {
                    $.each(data, function (index, val) {
                        if (val != "") {
                            let sum = @price;
                            let count = @amount;
                            val.forEach(function (value) {
                                sum += value.price * value.amount;
                                count += value.amount;
                                var p = '<tr>'
                                    + `<td hidden>${value.foodId}</td>`
                                    + '<td>'
                                    + `<div>${value.foodName}</div>`
                                    + `<div><strong>ราคา: </strong>${numeral(value.price).format('0,0.00')}</div>`
                                    + '</td>'
                                    + `<td class="text-right pr-4" style="width:20%;"><strong>${value.amount}</strong></td>`
                                    + `<td style="width:5%;"><button type="button" onclick="Delete('${value.foodId }')" class="btn btn-table-sm btn-danger"><i class="fas fa-trash-alt"></i></button></td>`
                                    + '</tr>';
                                table.append(p)
                            })
                            txtsum.val(numeral(sum).format('0,0.00'))
                            txtcount.val(count)
                            img.hide()
                        } else {
                            img.show()
                        }
                    })
                }
            )
        }

        function Add(id, amount) {
            const table = $('[table-body]')
            const img = $('[img-no-order]')
            const txtcount = $('#txtcount')
            const txtsum = $('#txtsum')
            table.empty()
            $.post("@Url.Action("Add", "SF_Order")", { id: id, amount: amount },
                function (data, status) {
                    $.each(data, function (index, val) {
                        if (val != "") {
                            let sum = @price;
                            let count = @amount;
                            val.forEach(function (value) {
                                sum += value.price * value.amount
                                count += value.amount
                                var p = '<tr>'
                                    + `<td hidden>${value.foodId}</td>`
                                    + '<td>'
                                    + `<div>${value.foodName}</div>`
                                    + `<div><strong>ราคา: </strong>${numeral(value.price).format('0,0.00')}</div>`
                                    + '</td>'
                                    + `<td class="text-right pr-4" style="width:20%;"><strong>${value.amount}</strong></td>`
                                    + `<td style="width:5%;"><button type="button" onclick="Delete('${value.foodId }')" class="btn btn-table-sm btn-danger"><i class="fas fa-trash-alt"></i></button></td>`
                                    + '</tr>';
                                table.append(p)
                            })
                            txtsum.val(numeral(sum).format('0,0.00'))
                            txtcount.val(count)
                            img.hide()
                        } else {
                            img.show()
                        }
                    })
                }
            )
            $('#amountfood').modal('hide')
        }

        function Delete(id) {
            Swal.fire({
                text: "ลบรายการหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    const table = $('[table-body]')
                    const img = $('[img-no-order]')
                    const txtcount = $('#txtcount')
                    const txtsum = $('#txtsum')
                    table.empty()
                    $.post("@Url.Action("Delete", "SF_Order")", { id: id },
                        function (data, status) {
                            $.each(data, function (index, val) {
                                if (val != "") {
                                    let sum = @price;
                                    let count = @amount;
                                    val.forEach(function (value) {
                                        sum += value.price * value.amount;
                                        count += value.amount;
                                        var p = '<tr>'
                                            + `<td hidden>${value.foodId}</td>`
                                            + '<td>'
                                            + `<div>${value.foodName}</div>`
                                            + `<div><strong>ราคา: </strong>${numeral(value.price).format('0,0.00')}</div>`
                                            + '</td>'
                                            + `<td class="text-right pr-4" style="width:20%;"><strong>${value.amount}</strong></td>`
                                            + `<td style="width:5%;"><button type="button" onclick="Delete('${value.foodId }')" class="btn btn-table-sm btn-danger"><i class="fas fa-trash-alt"></i></button></td>`
                                            + '</tr>';
                                        table.append(p)
                                    })
                                    txtsum.val(numeral(sum).format('0,0.00'))
                                    txtcount.val(count)
                                    img.hide()
                                } else {
                                    img.show()
                                    txtcount.val(@amount)
                                    txtsum.val(numeral(@price).format('0,0.00'))
                                }
                            })
                        }
                    )
                }
            });
        }

        document.querySelector('[btn-cancel]').addEventListener('click', () => {
            Swal.fire({
                text: "ยกเลิกรายการหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    const table = $('[table-body]')
                    const img = $('[img-no-order]')
                    const txtcount = $('#txtcount')
                    const txtsum = $('#txtsum')
                    $.post("@Url.Action("Cancel", "SF_Order")",
                        function (data, status) {
                            table.empty()
                            img.show()
                            txtcount.val(@amount)
                            txtsum.val(numeral(@price).format('0,0.00'))
                        }
                    )
                }
            });
        })

        document.querySelector('[btn-save]').addEventListener('click', () => {
            Swal.fire({
                text: "บันทึกออร์เดอร์หรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    //const paramUrl = new URLSearchParams(window.location.search)
                    //const paramid = paramUrl.get('id')
                    window.location.href = '@Url.Action("Save", "SF_Order", new { id = Table.TableId })'
                }
            });
        })

        function amountfood(val) {
            // Modal
            var PlaceHolderElement = $('#PlaceHolderHere')
            $.get(val).done(function (data) {
                PlaceHolderElement.html(data)
                PlaceHolderElement.find('.modal').modal('show')
            })
        }

        function screenScroll() {
            var height_P = $(window).height() - $('.navbar').height() - $('.content-table-heard').height() - 52
            $('[scroll-card]').slimScroll({
                height: height_P,
                railBorderRadius: 0,
                railVisible: true
            });
        }

        function Scroll() {
            var height_P = $(window).height() - $('.navbar').height() - $('.order-footer').height() - 55
            $('[scroll]').slimScroll({
                height: height_P,
                railBorderRadius: 0,
                railVisible: true
            });
        }
    </script>
}