@using REST.Service;
@model REST.ViewModels.ViewSF_Payment;
@{
    ViewData["Title"] = "ระบบหน้าร้าน";
    ViewData["System"] = "ข้อมูลชำระเงิน";
    ViewData["link"] = Url.Action("FrmDailyPayment", "SF_Daily");
    Layout = "_Payment";
}

@section Styles {
    <link href="~/Plugins/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<form name="FrmPayment" method="post">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 pr-md-0 order-md-first order-last">
            <!-- 1 -->
            <section>
                <div class="card rounded-0">
                    <div class="card-body">
                        <section class="bill-header">
                            <div class="row">
                                <div class="col-xl-12 mx-auto">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group mb-2 row">
                                                <label class="col-xl-3 col-lg-4 col-sm-5 col-form-label col-form-label-sm text-sm-right">เอกสาร :</label>
                                                <div class="col-xl-9 col-lg-8 col-sm-7">
                                                    <input asp-for="PaymentId" type="text" readonly class="form-control-plaintext form-control-sm border-bottom">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-2 row">
                                                <label class="col-xl-3 col-lg-4 col-sm-5 col-form-label col-form-label-sm text-sm-right">วันที่ชำระเงิน :</label>
                                                <div class="col-xl-9 col-lg-8  col-sm-7">
                                                    <input asp-for="Dates" type="text" readonly class="form-control-plaintext form-control-sm border-bottom">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group mb-2 row">
                                                <label class="col-xl-3 col-lg-4 col-sm-5 col-form-label col-form-label-sm text-sm-right">เลขที่บิล :</label>
                                                <div class="col-xl-9 col-lg-8 col-sm-7">
                                                    <input asp-for="BillId" type="text" readonly class="form-control-plaintext form-control-sm border-bottom">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-2 row">
                                                <label class="col-xl-3 col-lg-4 col-sm-5 col-form-label col-form-label-sm text-sm-right">โต๊ะ :</label>
                                                <div class="col-xl-9 col-lg-8  col-sm-7">
                                                    <input asp-for="TableId" type="hidden" />
                                                    <input asp-for="TableName" type="text" readonly class="form-control-plaintext form-control-sm border-bottom">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group mb-2 row">
                                                <label class="col-xl-3 col-lg-4 col-sm-5 col-form-label col-form-label-sm text-sm-right">ลูกค้า :</label>
                                                <div class="col-xl-9 col-lg-8  col-sm-7">
                                                    <input asp-for="MemberId" type="hidden" />
                                                    <input asp-for="MemberName" type="text" readonly class="form-control-plaintext form-control-sm border-bottom">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-2 row">
                                                <label class="col-xl-3 col-lg-4 col-sm-5 col-form-label col-form-label-sm text-sm-right">ประเภท :</label>
                                                <div class="col-xl-9 col-lg-8  col-sm-7">
                                                    <input asp-for="MemberType" type="text" readonly class="form-control-plaintext form-control-sm border-bottom">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="card border-0">
                            <div class="card-body table-responsive p-0" scroll>
                                <p class="font-weight-bold mt-2 mb-1"><i class="far fa-dot-circle"></i>&nbsp;รายการอาหาร</p>
                                <table class="table table-md table-bordered table-head-fixed text-nowrap">
                                    <thead class="thead-primary-light">
                                        <tr>
                                            <th class="text-center" style="width:5%;">ลำดับ</th>
                                            <th class="text-center">รหัส</th>
                                            <th class="text-center">ชื่ออาหาร</th>
                                            <th class="text-center" style="width:12%;">จำนวน</th>
                                            <th class="text-center" style="width:12%;">ราคา</th>
                                            <th class="text-center" style="width:12%;">ราคารวม</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                            if (Model.PaymentSub != null && Model.PaymentSub.Count() > 0)
                                            {
                                                var x = 0;
                                                foreach (var row in Model.PaymentSub)
                                                {
                                                    x++;
                                                    <tr>
                                                        <td class="text-center">@x</td>
                                                        <td>@row.FoodId</td>
                                                        <td>@row.FoodName</td>
                                                        <td class="text-right">@row.Amount</td>
                                                        <td class="text-right">@row.Price</td>
                                                        <td class="text-right">@row.Total</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6" class="text-center text-danger">ไม่มีรายการ</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="payment-footer">
                <div class="card rounded-0 mt-3">
                    <div class="card-body">
                        <p class="mb-0"><i class="far fa-dot-circle"></i>&nbsp;ชำระเงินโดย</p>
                        <hr class="mt-1" />
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- ผลรวมทั้งหมด -->
                                @*<div class="form-group mb-0 row">
                                    <label class="col-4 col-form-label-sm font-weight-bold">จำนวนเงินที่ต้องชำระ :</label>
                                    <div class="col">
                                        <input asp-for="Total" type="text" readonly class="form-control-plaintext form-control-sm text-right border-bottom" placeholder="0.00">
                                    </div>
                                </div>*@
                                <!-- คูปอง -->
                                <div class="form-group mb-0 row">
                                    <label class="col-xl-4 col-lg-5 col-sm-4 col-form-label col-form-label-sm">ส่วนลดคูปอง :</label>
                                    <div class="col-xl-8 col-lg-7 col-sm-8">
                                        <input asp-for="Coupon" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                    </div>
                                </div>
                                <!-- รับเงิน -->
                                <div class="form-group mb-0 row">
                                    <label class="col-xl-4 col-lg-5 col-sm-4 col-form-label col-form-label-sm">รับเงิน :</label>
                                    <div class="col-xl-8 col-lg-7 col-sm-8">
                                        <input asp-for="MoneyPut" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                    </div>
                                </div>
                                <!-- เงินทอน -->
                                <div class="form-group mb-0 row">
                                    <label class="col-xl-4 col-lg-5 col-sm-4 col-form-label col-form-label-sm">เงินทอน :</label>
                                    <div class="col-xl-8 col-lg-7 col-sm-8">
                                        <input asp-for="MoneyChange" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">                                
                                <div class="form-group mb-1 row">
                                    <div class="col-4 ml-4">
                                        <input asp-for="Cash1" class="form-check-input mt-2" type="checkbox" id="cash1" checked>
                                        <label class="form-check-label col-form-label-sm" for="cash1">
                                            เงินสด
                                        </label>
                                    </div>
                                    <div class="col"><input asp-for="Cash1Bath" id="txtCash1" type="text" class="form-control-plaintext form-control-sm text-right border-bottom numberonly" placeholder="0.00"></div>
                                </div>
                                <div class="form-group mb-1 row">
                                    <div class="col-4 ml-4">
                                        <input asp-for="Cash2" class="form-check-input mt-2" type="checkbox" id="cash2">
                                        <label class="form-check-label col-form-label-sm" for="cash2">
                                            เงินโอน
                                        </label>
                                    </div>
                                    <div class="col"><input asp-for="Cash2Bath" id="txtCash2" type="text" class="form-control-plaintext form-control-sm text-right border-bottom numberonly" placeholder="0.00"></div>
                                </div>
                                <div class="form-group mb-1 row">
                                    <div class="col-4 ml-4">
                                        <input asp-for="Cash3" class="form-check-input mt-2" type="checkbox" id="cash3">
                                        <label class="form-check-label col-form-label-sm" for="cash3">
                                            Credit & Debit
                                        </label>
                                    </div>
                                    <div class="col"><input asp-for="Cash3Bath" id="txtCash3" type="text" class="form-control-plaintext form-control-sm text-right border-bottom numberonly" placeholder="0.00"></div>
                                </div>
                                <div class="form-group mb-1 row">
                                    <div class="col-4 ml-4 text-right">
                                        <label class="form-check-label col-form-label-sm" for="autoSizingCheck">
                                            Card Type :
                                        </label>
                                    </div>
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <input asp-for="Cash3Type" class="form-check-input" type="radio" name="Cash3Type" id="T1" value="1">
                                            <label class="form-check-label" for="T1"><img src="~/Images/System/Svg/VISA.svg" width="40" height="30" alt="" loading="lazy"></label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input asp-for="Cash3Type" class="form-check-input" type="radio" name="Cash3Type" id="T2" value="2">
                                            <label class="form-check-label" for="T2"><img src="~/Images/System/Svg/MASTERCARD.svg" width="40" height="30" alt="" loading="lazy"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-1 row">
                                    <div class="col-4 ml-4 text-right">
                                        <label class="form-check-label col-form-label-sm" for="autoSizingCheck">
                                            Number :
                                        </label>
                                    </div>
                                    <div class="col">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                @*<button class="btn btn-secondary" type="button" ><i class="far fa-credit-card"></i></button>*@
                                                <span class="input-group-text"><i class="far fa-credit-card"></i></span>
                                            </div>
                                            <input asp-for="Cash3Number" type="text" id="txtNumberCash3" class="form-control" placeholder="xxxxxxxxxxxxx">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4">
            <!-- 3 -->
            <section>
                <div class="card rounded-0">
                    <div class="card-body">
                        <section class="bill-payment">
                            <div class="alert alert-primary text-center py-1 mb-0 rounded-0" role="alert">
                                <h6 class="mb-0">ยอดบิล</h6>
                            </div>
                            <div class="form-group mb-0">
                                <input asp-for="Total" type="text" readonly class="form-control-plaintext form-control-lg text-right text-danger" style="font-size: 2rem;font-weight: bold;">
                            </div>
                            <div class="alert alert-primary text-center py-1 mb-1 rounded-0" role="alert">
                                <h6 class="mb-0">รายละเอียดบิล</h6>
                            </div>
                        </section>
                        <section scroll-payment>
                            <!-- ราคารวม -->
                            <div class="form-group mb-0 row">
                                <label class="col-xl-4 col-lg-5 col-sm-4 col-form-label col-form-label-sm">ราคารวม :</label>
                                <div class="col-xl-8 col-lg-7 col-sm-8">
                                    <input asp-for="Total" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                </div>
                            </div>
                            <!-- Service Charge -->
                            <div class="form-group mb-0 row">
                                <label class="col-xl-4 col-lg-5 col-sm-4 col-form-label col-form-label-sm">Service Charge :</label>
                                <div class="col-sm">
                                    <input asp-for="ServicePersen" type="text" class="form-control-plaintext form-control-sm text-right" readonly placeholder="0">
                                </div>
                                <div class="col-xl-5 col-lg-3 col-sm-6">
                                    <input asp-for="ServiceBath" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                </div>
                            </div>
                            <!-- Member % -->
                            <div class="form-group mb-0 row">
                                <label class="col-xl-4 col-lg-5 col-sm-4 col-form-label col-form-label-sm">Member % :</label>
                                <div class="col-sm">
                                    <input asp-for="MemberPersen" type="text" class="form-control-plaintext form-control-sm text-right" readonly placeholder="0.00">
                                </div>
                                <div class="col-xl-5 col-lg-3 col-sm-6">
                                    <input asp-for="MemberBath" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                </div>
                            </div>
                            <!-- ส่วนลด % -->
                            <div class="form-group mb-0 row">
                                <label class="col-xl-4 col-lg-5 col-sm-4 col-form-label col-form-label-sm">ส่วนลด % :</label>
                                <div class="col-sm">
                                    <input asp-for="Persen" type="text" class="form-control-plaintext form-control-sm text-right" readonly placeholder="0.00">
                                </div>
                                <div class="col-xl-5 col-lg-3 col-sm-6">
                                    <input asp-for="PersenBath" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                </div>
                            </div>
                            <!-- ก่อนภาษีมูลค่าเพิ่ม -->
                            <div class="form-group mb-0 row">
                                <label class="col-xl-4 col-lg-6 col-sm-4 col-form-label col-form-label-sm">ก่อนภาษีมูลค่าเพิ่ม :</label>
                                <div class="col-xl-8 col-lg-6 col-sm-8">
                                    <input asp-for="BeforeVat" id="txtBeforeVat" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                </div>
                            </div>
                            <!-- Vat -->
                            <div class="form-group mb-0 row">
                                <label class="col-xl-4 col-lg-6 col-sm-4 col-form-label col-form-label-sm">ภาษีมูลค่าเพิ่ม :</label>
                                <div class="col-sm">
                                    <input asp-for="VatPersen" id="txtVatPersen" type="text" class="form-control-plaintext form-control-sm text-right" readonly placeholder="0">
                                </div>
                                <div class="col-xl-5 col-lg-3 col-sm-6">
                                    <input asp-for="VatBath" id="txtVatBath" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                </div>
                            </div>
                            <!-- ยอดรวมสุทธิ -->
                            <div class="form-group mb-0 row">
                                <label class="col-xl-4 col-lg-6 col-sm-4 col-form-label col-form-label-sm">ยอดรวมสุทธิ :</label>
                                <div class="col-xl-8 col-lg-6 col-sm-8">
                                    <input asp-for="AfterVat" id="txtAfterVat" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                </div>
                            </div>                            
                        </section>
                        <div class="row">
                            <div class="col-sm-6"><button type="button" class="btn btn-sm btn-primary btn-block"><i class="fas fa-print"></i> พิมใบเสร็จ</button></div>
                            <div class="col-sm-6"><button type="button" class="btn btn-sm btn-danger btn-block" btn-cancel><i class="far fa-window-close"></i> ยกเลิก</button></div>
                        </div>                        
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>


<div id="PlaceHolderHere"></div>

@section Scripts {
    <script src="~/Plugins/DataTables/datatables.min.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Plugins/Numeral/numeral.js"></script>
    <script>
        $(document).ready(function () {
            $('[scroll').slimScroll({
                height: $(window).height() - $('.navbar').height() - $('.bill-header').height() - $('.payment-footer').height() - 108,
                railBorderRadius: 0,
                railVisible: true,
                distance: '-10px'
            });

            $('[scroll-payment]').slimScroll({
                height: $(window).height() - $('.navbar').height() - $('.bill-payment').height() - 127,
                railBorderRadius: 0,
                railVisible: true,
                distance: '-10px'
            });
        });

        $(document).on('keypress ', '.numberonly', function () {
            const e = event.keyCode
            if (e >= 48 && e <= 57 || e === 8 || e === 13 || e === 46) {
                event.returnValue = true
            } else {
                Swal.fire({ text: "สามารถกดได้แค่ตัวเลข", icon: 'warning' })
                event.returnValue = false
            }
        })

        $(document).on('blur ', '.numberonly', function () {
            const number = $(this).val()
            $(this).val(numeral(number).format('0,0.00'))
        })

        document.querySelector("[btn-cancel]").addEventListener('click', () => {
             Swal.fire({
                text: "ต้องการยกเลิกข้อมูลหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    window.location.href = '@Url.Action("CancelPayment", "SF_Payment", new { id = Model.PaymentId })'
                    @*document.FrmPayment.action = '@Url.Action("FrmPaymentView")'
                    document.FrmPayment.submit();*@
                }
            })
        })
    </script>
}