@using REST.Service;
@model REST.ViewModels.ViewFrmPayment;
@{
    ViewData["Title"] = "ระบบหน้าร้าน";
    Layout = "_Payment";
}

@section Styles {
    <link href="~/Plugins/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<form name="FrmPayment" method="post">
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-8 pr-md-0 order-md-first order-last">
            <!-- 2 -->
            <section>
                <div class="card">
                    <div class="card-body">

                        <section class="bill-header">
                            <div class="row">
                                <div class="col-xl-8 mx-auto">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-4 col-sm-5 col-form-label col-form-label-sm text-sm-right">เลขที่บิล :</label>
                                                <div class="col-xl-9 col-lg-8 col-sm-7">
                                                    <input asp-for="BillId" type="text" class="form-control form-control-sm">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-4 col-sm-5 col-form-label col-form-label-sm text-sm-right">โต๊ะ :</label>
                                                <div class="col-xl-9 col-lg-8  col-sm-7">
                                                    <p class="col-form-label-sm border-bottom mb-0">@Model.TableName</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-4 col-sm-5 col-form-label col-form-label-sm text-sm-right">ลูกค้า <span class="text-danger">(F6)</span> :</label>
                                                <div class="col-xl-9 col-lg-8  col-sm-7">
                                                    <div class="input-group input-group-sm">
                                                        <input asp-for="MemberId" id="txtMemberId" type="hidden" />
                                                        <input asp-for="MemberName" id="txtMemberName" type="text" class="form-control">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-danger" type="button" onclick="clearMember()"><i class="fas fa-redo-alt"></i></button>
                                                            <button class="btn btn-info" type="button" data-toggle="ajax-modal" data-target="#popupMember" data-url="@Url.Action("_popupMember", "Modal")"><i class="fas fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-4 col-sm-5 col-form-label col-form-label-sm text-sm-right">ประเภท :</label>
                                                <div class="col-xl-9 col-lg-8  col-sm-7">
                                                    <p id="Type" class="col-form-label-sm border-bottom mb-0">ทั่วไป</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>


                        <div class="card border-0">
                            <div class="card-body table-responsive p-0" scroll>
                                <p class="font-weight-bold mt-3"><i class="far fa-dot-circle"></i>&nbsp;รายการอาหาร</p>
                                <table class="table table-md table-bordered table-head-fixed text-nowrap">
                                    <thead class="thead-black">
                                        <tr>
                                            <th class="text-center" style="width:5%;">ลำดับ</th>
                                            <th class="text-center">รหัส</th>
                                            <th class="text-center">ชื่ออาหาร</th>
                                            <th class="text-center" style="width:12%;">จำนวน</th>
                                            <th class="text-center" style="width:12%;">ราคา</th>
                                            <th class="text-center" style="width:12%;">ราคารวม</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                            if (Model.BillSub != null && Model.BillSub.Count() > 0)
                                            {
                                                var x = 0;
                                                foreach (var row in Model.BillSub)
                                                {
                                                    decimal total = 0;
                                                    x++;
                                                    if (row.Status != 4)
                                                    {
                                                        total += row.Price * row.Amount;
                                                    }
                                                    <tr>
                                                        <td class="text-center">@x</td>
                                                        <td>@row.FoodId</td>
                                                        <td>@row.FoodName</td>
                                                        <td class="text-right">@row.Amount</td>
                                                        <td class="text-right">@row.Price</td>
                                                        <td class="text-right">@Share.Cnumber(Share.FormatDouble(total), 2)</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6" class="text-center text-danger">ไม่มีรายการ</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4">
            <!-- 3 -->
            <section>
                <div class="card">
                    <div class="card-body">
                        <section class="bill-payment">
                            <div class="alert alert-primary text-center py-2 mb-0" role="alert">
                                <h6>ยอดบิล</h6>
                            </div>
                            <div class="form-group">
                                <input asp-for="SumBalance" id="txtSumBalance" type="text" class="form-control-plaintext form-control-lg text-right text-danger" style="font-size: 2rem;font-weight: bold;">
                            </div>
                            <div class="alert alert-primary text-center py-2 mb-0" role="alert">
                                <h6>รายละเอียดบิล</h6>
                            </div>
                        </section>
                        <section scroll-payment>
                            <!-- ราคารวม -->
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-5 col-sm-4 col-form-label col-form-label-sm">ราคารวม :</label>
                                <div class="col-xl-8 col-lg-7 col-sm-8">
                                    <input asp-for="Balance" id="txtBalance" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                </div>
                            </div>
                            <!-- Service Charge -->
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-5 col-sm-4 col-form-label col-form-label-sm">Service Charge :</label>
                                <div class="col-sm">
                                    <input asp-for="ServiceP" id="txtServiceP" type="text" class="form-control form-control-sm text-right" readonly placeholder="0">
                                </div>
                                <div class="col-xl-5 col-lg-3 col-sm-6">
                                    <input asp-for="ServiceB" id="txtServiceB" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                </div>
                            </div>
                            <!-- Member % -->
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-5 col-sm-4 col-form-label col-form-label-sm">Member % :</label>
                                <div class="col-sm">
                                    <input asp-for="MemberP" id="txtMemP" type="text" class="form-control form-control-sm text-right" readonly placeholder="0.00">
                                </div>
                                <div class="col-xl-5 col-lg-3 col-sm-6">
                                    <input asp-for="MemberB" id="txtMemB" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                </div>
                            </div>
                            <!-- ส่วนลด % -->
                            <div class="form-group row">
                                <label class="col-xl-4 col-lg-5 col-sm-4 col-form-label col-form-label-sm">ส่วนลด % <span class="text-danger">(F10)</span> :</label>
                                <div class="col-sm">
                                    <input asp-for="PersenP" id="txtPersP" type="text" class="form-control form-control-sm text-right" readonly placeholder="0.00">
                                </div>
                                <div class="col-xl-5 col-lg-3 col-sm-6">
                                    <input asp-for="PersenB" id="txtPersB" type="text" readonly class="form-control-plaintext form-control-sm text-right" placeholder="0.00">
                                </div>
                            </div>
                        </section>
                        <button type="button" class="btn btn-success btn-block" data-toggle="ajax-modal" data-target="#popupCalculate" data-url="@Url.Action("_popupCalculate", "Modal")"><i class="fab fa-paypal"></i> ชำระเงิน <span class="text-danger">(F2)</span></button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>


<div id="PlaceHolderHere"></div>

@section Scripts {
    <script src="~/Plugins/DataTables/datatables.min.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Plugins/Numeral/numeral.js"></script>
    <script>
        $(document).ready(function () {
            $('[scroll').slimScroll({
                height: $(window).height() - $('.navbar').height() - $('.bill-header').height() - 92,
                railBorderRadius: 0,
                railVisible: true,
                distance: '-10px'
            });

            $('[scroll-payment]').slimScroll({
                height: $(window).height() - $('.navbar').height() - $('.bill-payment').height() - 145,
                railBorderRadius: 0,
                railVisible: true,
                distance: '-10px'
            });
        });

        $(document).on('keypress ', '.numberonly', function () {
            const e = event.keyCode
            if (e >= 48 && e <= 57 || e === 8 || e === 13 || e === 46) {
                event.returnValue = true
            } else {
                Swal.fire({ text: "สามารถกดได้แค่ตัวเลข", icon: 'warning' })
                event.returnValue = false
            }
        })

        $(document).on('blur ', '.numberonly', function () {
            const number = $(this).val()
            $(this).val(numeral(number).format('0,0.00'))
        })

        /* Modal */
        var PlaceHolderElement = $('#PlaceHolderHere')
        $('button[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url')
            var decodedUrl = decodeURIComponent(url)
            $.get(decodedUrl).done(function (data) {
                PlaceHolderElement.html(data)
                PlaceHolderElement.find('.modal').modal('show')
            })
        })

        @*// Show Supplier
        function showTable(id) {
            window.location.href = '@Url.Action("FrmPayment", "SF_Payment")?id=' + id
            $('#popupTable').modal('hide')
        }*@

        // Show Member
        function showMember(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowMember", "SF_Payment")',
                data: { id: id },
                success: function (data) {
                    $.each(data, function (index, val) {
                        $('#txtMemberId').val(val.memberId)
                        $('#txtMemberName').val(val.name)
                        $('#Type').html(val.typeName)

                        const rebate = val.rebate
                        // % Member
                        const balance = parseFloat($('#txtBalance').val().replace(/,/g, ''))
                        const serviceB = parseFloat($('#txtServiceB').val().replace(/,/g, ''))
                        const MemP = balance * rebate / 100
                        const PersenB = parseFloat($('#txtPersB').val().replace(/,/g, ''))
                        //const bs = balance + serviceB
                        const price = balance + serviceB - MemP - PersenB

                        $('#txtMemP').val(numeral(val.rebate).format('0,0.00'))
                        $('#txtMemB').val(numeral(MemP).format('0,0.00'))

                        $('#txtSumBalance').val(numeral(price).format('0,0.00'))
                    })
                    $('#popupMember').modal('hide')
                }
            })
        }

        // Clear Member
        function clearMember() {
            $('#txtMemberId').val('')
            $('#txtMemberName').val('')
            $('#Type').html('ทั่วไป')

            $('#txtMemP').val('0.00')
            $('#txtMemB').val('0.00')

            const balance = parseFloat($('#txtBalance').val().replace(/,/g, ''))
            const serviceB = parseFloat($('#txtServiceB').val().replace(/,/g, ''))
            const memberB = parseFloat($('#txtMemB').val().replace(/,/g, ''))
            const persenB = parseFloat($('#txtPersB').val().replace(/,/g, ''))

            const price = balance + serviceB - persenB - memberB

            $('#txtSumBalance').val(numeral(price).format('0,0.00'))
        }

        // Load Window
        $(window).on('keydown', function (e) {
            if (e.which == 121) {
                // F10 popup Discount
                var url = '@Url.Action("_popupDiscount", "Modal")'
                var decodedUrl = decodeURIComponent(url)
                $.get(decodedUrl).done(function (data) {
                    PlaceHolderElement.html(data)
                    PlaceHolderElement.find('.modal').modal('show')
                })
                return false;
            } else if (e.which == 117) {
                // F6 Show Member
                var url = '@Url.Action("_popupMember", "Modal")'
                var decodedUrl = decodeURIComponent(url)
                $.get(decodedUrl).done(function (data) {
                    PlaceHolderElement.html(data)
                    PlaceHolderElement.find('.modal').modal('show')
                })
                return false;
            } else if (e.which == 113) {
                // F2 Show Payment
                var url = '@Url.Action("_popupCalculate", "Modal")'
                var decodedUrl = decodeURIComponent(url)
                $.get(decodedUrl).done(function (data) {
                    PlaceHolderElement.html(data)
                    PlaceHolderElement.find('.modal').modal('show')
                })
                return false;
            }
        });

        // Discount
        function Discount(dis) {
            const balance = parseFloat($('#txtBalance').val().replace(/,/g, ''))
            const serviceB = parseFloat($('#txtServiceB').val().replace(/,/g, ''))
            const memB = parseFloat($('#txtMemB').val().replace(/,/g, ''))
            const persB = balance * parseFloat(dis.replace(/,/g, '')) / 100
            const bs = balance + serviceB - persB
            const price = bs - memB

            $('#txtPersP').val(numeral(dis).format('0,0.00'))
            $('#txtPersB').val(numeral(persB).format('0,0.00'))
            $('#txtSumBalance').val(numeral(price).format('0,0.00'))

            $('#popupDiscount').modal('hide')
        }

        // BTN-SAVE
        document.querySelector("[btn-save]").addEventListener('click', () => {
             Swal.fire({
                text: "ต้องการบันทึกข้อมูลหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    document.FrmPayment.action = '@Url.Action("FrmPayment")'
                    document.FrmPayment.submit();
                }
            })
        })
    </script>
}