@model REST.ViewModels.ViewFrmPayment;
@{
    ViewData["Title"] = "Payment";
    ViewData["System"] = "ชำระเงิน";
    Layout = "_StoreFront";
}

@section Styles {
    <link href="~/Plugins/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-11 mx-auto">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-7 mx-auto">
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-4 col-form-label col-form-label-sm text-sm-right">เลือกโต๊ะ :</label>
                            <div class="col-md-9 col-sm-8">
                                <div class="input-group input-group-sm">
                                    <input type="text" asp-for="TableName" class="form-control" aria-describedby="txtTableName">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" id="txtTableName" data-toggle="ajax-modal" data-target="#popupTable" data-url="@Url.Action("_popupTable", "Modal")"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{
                            if (Model.TableId != null)
                            {
                                if (Model.Total != null)
                                {
                                    <div class="form-group row">
                                        <label class="col-md-3 col-sm-4 col-form-label col-form-label-sm text-sm-right">จำนวนเงิน :</label>
                                        <div class="col-md-9 col-sm-8">
                                            <input type="text" asp-for="Total" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <hr />
                                    <div class="alert alert-warning text-center" role="alert">
                                        ไม่พบข้อมูล ! ไม่มีการสั่งออเดอร์หรือรายการอาหารไม่ครบ
                                    </div>
                                }
                            }
                            else
                            {
                                <hr />
                                <div class="alert alert-danger text-center" role="alert">
                                    ไม่พบข้อมูล ! กรุณาเลือกโต๊ะ
                                </div>
                            }
                        }
                    </div>
                </div>
                @{
                    if (Model.OrderSub != null)
                    {
                        <hr />
                        <p>รายการอาหาร</p>
                        <table class="table table-md table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center" style="width:5%;">ลำดับ</th>
                                    <th class="text-center">ชื่อ</th>
                                    <th class="text-center text-info" style="width:5%;"><i class="fas fa-info-circle"></i></th>
                                    <th class="text-center" style="width:15%;">ราคา</th>
                                    <th class="text-center" style="width:10%;">จำนวน</th>
                                    <th class="text-center" style="width:15%;">รวม</th>
                                    <th class="text-center" style="width:5%;">ครั้ง</th>
                                    <th class="text-center" style="width:5%;">#</th>
                                </tr>
                            </thead>
                            <tbody>
                            @{
                                var x = 0;
                                foreach (var row in Model.OrderSub)
                                {
                                    var p = row.Price * row.Amount;
                                    x++;
                                    if (row.Status == 4)
                                    {
                                        <tr class="bg-red text-danger">
                                            <td class="text-center">@x</td>
                                            <td>@row.FoodName</td>
                                            <td class="text-center">ยกเลิก</td>
                                            <td class="text-right">@row.Price.ToString("N2")</td>
                                            <td class="text-right">@row.Amount</td>
                                            <td class="text-right">@p.ToString("N2")</td>
                                            <td class="text-center">@row.i</td>
                                            <td class="text-center"><button type="button" class="btn btn-table-sm btn-danger" onclick="cancel('@row.OrderId', '@row.TableId','@row.FoodId');"><i class="far fa-trash-alt"></i></button></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="text-center">@x</td>
                                               <td>@row.FoodName</td>
                                               @if (row.Status == 1)
                                               {
                                                   <td class="text-center text-danger"><i class="far fa-times-circle"></i></td>
                                               }
                                               else if (row.Status == 2)
                                               {
                                                   <td class="text-center text-warning"><i class="fas fa-diagnoses"></i></td>
                                               }
                                               else if (row.Status == 3)
                                               {
                                                   <td class="text-center text-success"><i class="far fa-check-circle"></i></td>
                                               }
                                               <td class="text-right">@row.Price.ToString("N2")</td>
                                               <td class="text-right">@row.Amount</td>
                                               <td class="text-right">@p.ToString("N2")</td>
                                               <td class="text-center">@row.i</td>
                                               <td class="text-center"><button type="button" class="btn btn-table-sm btn-danger" onclick="cancel('@row.OrderId', '@row.TableId','@row.FoodId');"><i class="far fa-trash-alt"></i></button></td>
                                           </tr>
                                       }
                                   }
                               }
                           </tbody>
                       </table>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div id="PlaceHolderHere"></div>

@section Scripts {
    <script src="~/Plugins/DataTables/datatables.min.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        /* Modal */
        var PlaceHolderElement = $('#PlaceHolderHere')
        $('button[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url')
            var decodedUrl = decodeURIComponent(url)
            $.get(decodedUrl).done(function (data) {
                PlaceHolderElement.html(data)
                PlaceHolderElement.find('.modal').modal('show')
            })
        })
    </script>
}
