@model REST.ViewModels.ViewFrmPayment;
@{
    ViewData["Title"] = "Payment";
    ViewData["System"] = "ชำระเงิน";
    Layout = "_Payment";
    var Table = ViewBag.Table;
    var OrderSub = ViewBag.OrderSub;
}

@section Styles {
    <link href="~/Plugins/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/StyleSheet/Payment/_Style.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-5 pr-md-0 mb-md-0 mb-3">
        <div class="card border-0 bg-primary-light">
            <div class="card-body">
                <h6 class="font-weight-bold text-center">ข้อมูลชำระเงิน</h6>
                <hr class="text-white" />
                <form name="FrmPayment" method="post">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label col-form-label-sm font-weight-bold text-sm-right">ราคารวม : </label>
                        <div class="col-sm-8">
                            <input asp-for="Total" id="txtTotal" type="text" class="form-control form-control-sm font-weight-bold text-right" placeholder="0.00" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label col-form-label-sm font-weight-bold text-sm-right">ลด % : </label>
                        <div class="col-sm-8">
                            <input asp-for="Persen" id="txtPersen" type="number" class="form-control form-control-sm font-weight-bold text-right">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label col-form-label-sm font-weight-bold text-sm-right">สมาชิก : </label>
                        <input asp-for="MemberId" id="txtMemberId" type="hidden" class="form-control form-control-sm">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" id="txtMemberName" class="form-control form-control-sm" aria-describedby="button-addon1">
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-primary" type="button" id="button-addon1" data-toggle="ajax-modal" data-target="#popupMember" data-url="@Url.Action("_popupMember", "Modal")"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label col-form-label-sm font-weight-bold text-sm-right">รวมทั้งหมด : </label>
                        <div class="col-sm-8">
                            <input asp-for="Balance" id="txtBalance" type="text" class="form-control form-control-sm font-weight-bold text-right text-success" placeholder="0.00" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label col-form-label-sm font-weight-bold text-sm-right">รับเงิน : </label>
                        <div class="col-sm-8">
                            <input asp-for="MoneyPut" id="txtMoneyPut" type="text" class="form-control form-control-sm font-weight-bold text-right text-primary" value="0.00">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label col-form-label-sm font-weight-bold text-sm-right">เงินทอน : </label>
                        <div class="col-sm-8">
                            <input asp-for="MoneyChange" id="txtMoneyChange" type="text" class="form-control form-control-sm font-weight-bold text-right text-danger" value="0.00" readonly>
                        </div>
                    </div>
                </form>
                <hr class="text-white" />
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-blue"><i class="far fa-thumbs-up"></i>&nbsp;&nbsp;บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-7">
        <div class="card">
            <div class="card-body">
                <section class="data-heard">
                    <div class="alert alert-primary py-2" role="alert">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h6 class="font-weight-bold mb-0">ข้อมูลโต๊ะ</h6>
                            </div>
                            @{
                                string bg = "";
                                if (Table.TableST == 1)
                                {
                                    bg = "color-green";
                                }
                                else if (Table.TableST == 2)
                                {
                                    bg = "color-red";
                                }
                                else if (Table.TableST == 3)
                                {
                                    bg = "color-yellow";
                                }
                                <div class="ml-2"><h6 class="mb-0"><strong>รหัส : </strong>&nbsp;@Table.TableId</h6></div>
                                <div class="ml-3"><h6 class="mb-0"><strong>ชื่อ : </strong>&nbsp;@Table.TableName</h6></div>
                                <div class="ml-3"><h6 class="mb-0"><strong>สถานะ : </strong>&nbsp;<span class="@bg"><i class="fas fa-circle"></i>&nbsp;</span>@Table.Status</h6></div>
                            }
                        </div>
                    </div>
                </section>
                <section class="data-table" scroll>
                    <div class="table-responsive-md">
                        <table class="table table-md table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center" style="width:5%;">ลำดับ</th>
                                    <th class="text-center">ชื่อ</th>
                                    <th class="text-center text-info" style="width:5%;"><i class="fas fa-info-circle"></i></th>
                                    <th class="text-center" style="width:20%;">ราคา</th>
                                    <th class="text-center" style="width:20%;">จำนวน</th>
                                    <th class="text-center" style="width:5%;">ครั้ง</th>
                                    <th class="text-center" style="width:5%;">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (OrderSub.Count > 0)
                                    {
                                        var x = 0;
                                        foreach (var row in ViewBag.OrderSub)
                                        {
                                            x++;
                                            <tr>
                                                <td class="text-center">@x</td>
                                                <td>@row.FoodName</td>
                                                @if (row.Status == 1)
                                                {
                                                    <td class="text-center text-danger"><i class="far fa-times-circle"></i></td>
                                                }
                                                else if (row.Status == 2)
                                                {
                                                    <td class="text-center text-warning"><i class="fas fa-diagnoses"></i></td>
                                                }
                                                else if (row.Status == 3)
                                                {
                                                    <td class="text-center text-success"><i class="far fa-check-circle"></i></td>
                                                }
                                                <td class="text-right">@row.Price.ToString("N2")</td>
                                                <td class="text-right">@row.Amount</td>
                                                <td class="text-center">@row.i</td>
                                                <td class="text-center"><button type="button" class="btn btn-table-sm btn-danger-light text-danger"><i class="far fa-trash-alt"></i></button></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7" class="text-center">no order</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div id="PlaceHolderHere"></div>

@section Scripts {
    <script src="~/Plugins/Numeral/numeral.js"></script>
    <script src="~/Plugins/DataTables/datatables.min.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            Scroll()
        });

        /* Modal */
        var PlaceHolderElement = $('#PlaceHolderHere')
        $('button[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url')
            var decodedUrl = decodeURIComponent(url)
            $.get(decodedUrl).done(function (data) {
                PlaceHolderElement.html(data)
                PlaceHolderElement.find('.modal').modal('show')
            })
        })

        /* Person */
        $('#txtPersen').blur(function () {
            const price = $('#txtTotal').val()
            const persen = $('#txtPersen').val()
            if (persen < 0) {
                Swal.fire({ text: "% ลด น้อยกว่า 0", icon: 'warning' })
                $('#txtPersen').val(0)
                $('#txtBalance').val(numeral(price).format('0,0.00'))
            } else {
                $.ajax({
                type: 'GET',
                url: '@Url.Action("FrmPayment1", "Base")',
                data: { price: price, persen: persen },
                success: function (data) {
                    $.each(data, function (index, val) {
                        $('#txtBalance').val(numeral(val).format('0,0.00'))
                    })
                }
            })
            }
        });

        /* MoneyPut */
        $('#txtMoneyPut').blur(function () {
            const Balance = $('#txtBalance').val()
            const put = $('#txtMoneyPut').val()
            if (put < Balance) {
                Swal.fire({ text: "รับเงินน้อยกว่า ยอดรวมทั้งหมด", icon: 'warning' })
                $('#txtMoneyPut').val(numeral(0).format('0,0.00'))
                $('#txtMoneyChange').val(numeral(0).format('0,0.00'))
            } else {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("calculatorRub2", "Base")',
                    data: { A1: put, A2: Balance },
                    success: function (data) {
                        $.each(data, function (index, val) {
                            $('#txtMoneyPut').val(numeral(put).format('0,0.00'))
                            $('#txtMoneyChange').val(numeral(val).format('0,0.00'))
                        })
                    }
                })
            }
        });

        /* Member */
        function Show(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowMember", "SF_Payment")',
                data: { id: id },
                success: function (data) {
                    $.each(data, function (index, val) {
                        $('#txtMemberId').val(val.memberId)
                        $('#txtMemberName').val(val.name)
                    })
                    $('#popupMember').modal('hide')
                }
            })
        }

        function Scroll() {
            var height_P = $(window).height() - $('.navbar').height() - $('.data-heard').height() - 110
            $('[scroll]').slimScroll({
                height: height_P,
                railBorderRadius: 0,
                railVisible: true
            });
        }
    </script>
}