@{
    ViewData["Title"] = "ระบบหน้าร้าน";
    ViewData["System"] = "ระบบหน้าร้าน";
    Layout = "_StoreFront";
}

@section Styles {
    <link rel="stylesheet" href="~/StyleSheet/StoreFront/Index.css" />
}
<!-- heard-row -->
<section class="heard-row">
    <div class="row">
        <div class="col-md-4 col-xl-3 mb-3">
            <div class="card order-card">
                <div class="card-block">
                    <span class="side-stick-blue"></span>
                    <h6>จำนวนโต๊ะ</h6>
                    <h2 class="text-right"><i class="fas fa-dice-d6 f-left"></i><span>@ViewBag.TableCount</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3 mb-3">
            <div class="card order-card">
                <div class="card-block">
                    <span class="side-stick-green"></span>
                    <h6>จำนวนโต๊ะที่ว่าง</h6>
                    <h2 class="text-right"><i class="fas fa-utensils f-left"></i><span>@ViewBag.TableST_1</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3 mb-3">
            <div class="card order-card">
                <div class="card-block">
                    <span class="side-stick-yellow"></span>
                    <h6>จำนวนโต๊ะที่ไม่ว่าง</h6>
                    <h2 class="text-right"><i class="fas fa-book-reader f-left"></i><span>@ViewBag.TableST_2</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3 mb-3">
            <div class="card order-card">
                <div class="card-block">
                    <span class="side-stick-red"></span>
                    <h6>จำนวนโต๊ะที่จอง</h6>
                    <h2 class="text-right"><i class="fas fa-ban f-left"></i><span>@ViewBag.TableST_3</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- content-table -->
<section class="content-table">
    <div class="card">
        <div class="card-body">
            <!-- content-table-heard -->
            <section class="content-table-heard">
                <div class="card border-0 bg-light mb-3">
                    <div class="card-body px-2 py-2">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h6 class="font-weight-bold mb-0 mt-1">ข้อมูลโต๊ะ</h6>
                            </div>
                            <div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text text-info" for="Zone"><i class="fas fa-th-list"></i></label>
                                    </div>
                                    <select class="form-control" id="Zone">
                                        <option value="">Show All</option>
                                        @{
                                            foreach (var row in ViewBag.SL_Zone)
                                            {
                                                <option value="@row.ZoneId">@row.ZoneName</option>
                                            }
                                        }
                                    </select>
                                </div>                                
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary-light dropdown-toggle" id="tabledropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-align-justify"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tabledropdown">
                                        <button class="dropdown-item active" type="button" value="">Show All</button>
                                        <button class="dropdown-item" type="button" value="1"><span class="color-green"><i class="fas fa-circle"></i>&nbsp;</span>ว่าง</button>
                                        <button class="dropdown-item" type="button" value="2"><span class="color-red"><i class="fas fa-circle"></i>&nbsp;</span>ไม่ว่าง</button>
                                        <button class="dropdown-item" type="button" value="3"><span class="color-yellow"><i class="fas fa-circle"></i>&nbsp;</span>จอง</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- content-table-body -->
            <section class="content-table-body" scroll>
                <div class="row" panel-table>
                    @foreach (var row in ViewBag.Table)
                    {
                        string bg = null;
                        if (row.TableST == 1)
                        {
                            bg = "bg-c-green";
                        }
                        else if (row.TableST == 2)
                        {
                            bg = "bg-c-red";
                        }
                        else if (row.TableST == 3)
                        {
                            bg = "bg-c-yellow";
                        }
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                            <a class="card-link" onclick="showModal('@Url.Action("_ModalST", "Modal", new { id = row.TableId})')" data-toggle="ajax-modal" data-target="#MadalST">
                                <div class="card border-0 @bg c-table">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <p class="mb-1">@row.TableName</p>
                                            <p class="mb-0">จำนวนที่นั่ง : @row.Personal</p>
                                        </div>
                                    </div>
                                </div>
                            </a>                            
                        </div>
                    }                   
                </div>                
            </section>
        </div>
    </div>
</section>

<div id="PlaceHolderHere"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            screenScroll()
        });

        document.getElementById('Zone').addEventListener('change', () => {
            const zone = $('#Zone').val()
            const status = $('.dropdown-item.active').val()
            const panel = $('[panel-table]')
            panel.empty() // ให้ข้อมูลโต๊ะ = ว่าง
            $.post("@Url.Action("GetTable", "StoreFront")", { ZoneId: zone, Status: status },
            function (data, status) {
                $.each(data, function (index, val) {
                    val.forEach(function (value) {
                        var bg = "";
                        if (value.tableST == 1) {
                            bg = "bg-c-green";
                        } else if (value.tableST == 2) {
                            bg = "bg-c-red";
                        } else if (value.tableST == 3) {
                            bg = "bg-c-yellow";
                        }
                        var link = '@Url.Action("_ModalST", "Modal")' + '/' + value.tableId;
                        var p = '<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">'
                            + `<a class="card-link" onclick="showModal('${link}')" data-toggle="ajax-modal" data-target="#MadalST">`
                            + '<div class="card border-0 ' + bg + ' c-table">'
                            + '<div class="card-body">'
                            + '<div class="text-center">'
                            + '<p class="mb-1">' + value.tableName + '</p>'
                            + '<p class="mb-0">จำนวนที่นั่ง : ' + value.personal + '</p>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '</a>'
                            + '</div>';
                        panel.append(p)
                    })
                })
            });
        })

        $(".dropdown-item").on("click", function () {
            $(this).addClass("active").siblings().removeClass("active");
            const zone = $('#Zone').val()
            const status = $('.dropdown-item.active').val()
            const panel = $('[panel-table]')
            panel.empty() // ให้ข้อมูลโต๊ะ = ว่าง
            $.post("@Url.Action("GetTable", "StoreFront")", { ZoneId: zone, Status: status },
            function (data, status) {
                $.each(data, function (index, val) {
                    val.forEach(function (value) {
                        var bg = "";
                        if (value.tableST == 1) {
                            bg = "bg-c-green";
                        } else if (value.tableST == 2) {
                            bg = "bg-c-red";
                        } else if (value.tableST == 3) {
                            bg = "bg-c-yellow";
                        }
                        var link = '@Url.Action("_ModalST", "Modal")' + '/' + value.tableId;
                        var p = '<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">'
                            + `<a class="card-link" onclick="showModal('${link}')" data-toggle="ajax-modal" data-target="#MadalST">`
                            + `<div class="card border-0 ${bg} c-table">`
                            + '<div class="card-body">'
                            + '<div class="text-center">'
                            + `<p class="mb-1">${value.tableName}</p>`
                            + `<p class="mb-0">จำนวนที่นั่ง : ${value.personal}</p>`
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '</a>'
                            + '</div>';
                        panel.append(p)
                    })
                })
            });
        });

        function showModal(val) {
            // Modal
            var PlaceHolderElement = $('#PlaceHolderHere')
            $.get(val).done(function (data) {
                PlaceHolderElement.html(data)
                PlaceHolderElement.find('.modal').modal('show')
            })
        }

        function screenScroll() {
            var height_P = $(window).height() - $('.heard-row').height() - $('.content-table-heard').height() - 150
            $('[scroll]').slimScroll({
                height: height_P,
                railBorderRadius: 0,
                railVisible: true
            });
        }
    </script>
}
