@{
    ViewData["Title"] = "Supplier";
    ViewData["System"] = "Supplier";
    Layout = "_Member";
}

@section Styles{
    <link rel="stylesheet" href="~/Plugins/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css" />
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-11 mx-auto">
                <!-- Header -->
                <section>
                    <div class="d-flex mb-2">
                        <div class="mr-2">
                            <a href="@Url.Action("FrmSupplier", "MB_Supplier", new { mode = "Add"})" class="btn btn-sm btn-success"><i class="fas fa-folder-plus"></i>&nbsp;&nbsp;เพิ่ม</a>
                        </div>
                    </div>
                    <hr />
                </section>
                <!-- Table -->
                <section>
                    <table id="DT_Table" class="table table-md table-hover table-bordered">
                        <thead class="thead-black">
                            <tr>
                                <th class="text-center" style="width:20%;"> รหัส </th>
                                <th class="text-center"> ชื่อ - นามสกุล </th>
                                @*<th class="text-center" style="width:20%;"> ตำแหน่งงาน </th>*@
                                <th class="text-center" style="width:5%;"> <i class="fas fa-info"></i> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in ViewBag.Supplier)
                            {
                                <tr>
                                    <td>@row.SupplierId</td>
                                    <td>@row.Title @row.FirstName @row.LastName</td>
                                    @*<td>@row.PositionName</td>*@
                                    <td class="text-center"><a href="@Url.Action("FrmSupplier", "MB_Supplier", new { mode = "Edit", id = row.SupplierId})" class="text-info"><i class="fas fa-edit"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Plugins/DataTables/datatables.min.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".item_click_Supplier").addClass("active");

            $('#DT_Table').DataTable({
                "info": false,
                "ordering": false
            });
        });
    </script>
}