@model REST.ViewModels.ViewGL_Template;
@{
    ViewData["Title"] = "รูปแบบบัญชี 1";
    ViewData["System"] = "รูปแบบบัญชี 1";
    Layout = "_Manage";
}

<div class="card">
    <div class="card-body">
        <!-- Form -->
        <section>
            <div class="row">
                <div class="col-xl-11 mx-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-xl-4 col-sm-5 text-sm-right col-form-label col-form-label-sm">รูปแบบบัญชี :</label>
                                <div class="col-xl-8 col-sm-7">
                                    <select asp-for="M_DesCription" id="txtDesCription" class="form-control form-control-sm">
                                        <option value="1">รายการรับเงิน</option>
                                        <option value="2">รายการจ่ายเงิน</option>
                                        <option value="3">รายการขาย</option>
                                        <option value="4">รายการซื้อ</option>
                                        <option value="5">รายการปรับปรุง</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-xl-4 col-sm-5 text-sm-right col-form-label col-form-label-sm">สมุดรายวัน :</label>
                                <div class="col-xl-8 col-sm-7">
                                    <select asp-for="BookId" id="txtBookId" class="form-control form-control-sm">
                                        @{
                                            foreach (var row in ViewBag.AccountBook)
                                            {
                                                <option value="@row.BookId">@row.BookId : @row.BookName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-xl-4 col-sm-5 text-sm-right col-form-label col-form-label-sm">รหัสรูปแบบ :</label>
                                <div class="col-xl-8 col-sm-7">
                                    @if (ViewData["Readonly"].ToString() != "")
                                    {
                                        <input asp-for="M_ID" id="txtM_ID" type="text" class="form-control form-control-sm" readonly>
                                    }
                                    else
                                    {
                                        <input asp-for="M_ID" id="txtM_ID" type="text" class="form-control form-control-sm">
                                    }                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-xl-4 col-sm-5 text-sm-right col-form-label col-form-label-sm">ชื่อรูปแบบ :</label>
                                <div class="col-xl-8 col-sm-7">
                                    <input asp-for="M_Name" id="txtM_Name" type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-lg-10 col-md-10">
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-md-3 col-sm-5 text-sm-right col-form-label col-form-label-sm"></label>
                                <div class="col-xl-9 col-sm-7">
                                    <div class="form-check form-check-inline">
                                        <input asp-for="M_PType" class="form-check-input" type="radio" name="M_PType" id="M_PType1" value="1" checked>
                                        <label class="form-check-label col-form-label-sm" for="M_PType1">คิดเป็นเปอร์เซ็นต์</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="M_PType" class="form-check-input" type="radio" name="M_PType" id="M_PType2" value="2">
                                        <label class="form-check-label col-form-label-sm" for="M_PType2">กำหนดจำนวนเงินเอง</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-xl-8 col-lg-10 col-md-10">
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-md-3 col-sm-5 text-sm-right col-form-label col-form-label-sm"></label>
                                <div class="col-xl-9 col-sm-7">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <div class="form-check">
                                                <input id="CHSystem" class="form-check-input mt-2" type="checkbox" name="Bch">
                                                <label class="form-check-label col-form-label-sm" for="CHSystem">
                                                    ใช้งานกับระบบอื่น
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <select id="txtSystem" class="form-control form-control-sm">
                                                <option value="" selected>--เลือกระบบ--</option>
                                                <option value="ชำระเงิน">ชำระเงิน</option>
                                                <option value="สั่งซื้อ">สั่งซื้อ</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </section>
        <!-- Table -->
        <section>
            <div class="card border-0">
                <div class="card-body table-responsive p-0" scroll>
                    <table class="table table-md table-bordered table-head-fixed" id="DataTable">
                        <thead class="thead-primary-light">
                            <tr>
                                <th class="text-center">ผังบัญชี</th>
                                <th class="text-center">ชื่อผังบัญชี</th>
                                <th class="text-center" style="width:15%;">เดบิต</th>
                                <th class="text-center" style="width:15%">เครดิต</th>
                                <th class="text-center" style="width:5%;"> </th>
                            </tr>
                        </thead>
                        <tbody id="bodyt">
                            @{
                                if (Model.GL_TemplateSub != null && Model.GL_TemplateSub.Count() > 0)
                                {
                                    foreach (var row in Model.GL_TemplateSub)
                                    {
                                        <tr>
                                            <td>@row.AccNo</td>
                                            <td>@row.AccName</td>
                                            @if(row.DrCr == "1")
                                            {
                                                <td><input type="text" class="form-control-plaintext form-table-control-sm text-right numberonly" value="@row.Amount" placeholder="0.00"></td>
                                                <td><input type="text" class="form-control-plaintext form-table-control-sm text-right numberonly" value="0" placeholder="0.00"></td>
                                            }
                                            else
                                            {
                                                <td><input type="text" class="form-control-plaintext form-table-control-sm text-right numberonly" value="0" placeholder="0.00"></td>
                                                <td><input type="text" class="form-control-plaintext form-table-control-sm text-right numberonly" value="@row.Amount" placeholder="0.00"></td>
                                            }
                                        <td class="text-center"><a href="#" id="remove" class="text-danger">ลบ</a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="NoResults">
                                        <td class="text-center text-danger" colspan="5">ไม่มีรายการ</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <span><a href="#" class="text-primary col-form-label-sm" data-toggle="ajax-modal" data-target="#popupAccountChart" data-url="@Url.Action("_popupAccountChart", "Modal")">เพิ่มรายการ</a></span>
        </section>
        <!-- Footer -->
        <section>
            <div class="d-flex justify-content-center mt-3 mb-4">
                <a href="#" class="btn btn-sm btn-blue mr-3 @ViewData["Disible-save"]"  btn-save><i class="far fa-save"></i>&nbsp;&nbsp;บันทึก</a>
                <a href="#" class="btn btn-sm btn-danger @ViewData["Disible-delete"]" btn-delete><i class="far fa-trash-alt"></i>&nbsp;&nbsp;ลบ</a>
            </div>
        </section>
        <!-- Comment -->
        <section>
            <div class="alert alert-danger" role="alert">
                <h6 class="alert-heading">หมายเหตุ !</h6>
                <hr>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 pr-xl-0">
                        <p class="col-form-label-sm mb-0">1 : รหัสขึ้นต้นด้วยหมายเลข 1 หมายถึง รายการรับเงิน</p>
                    </div>
                    <div class="col-auto">
                        <p class="col-form-label-sm mb-0">2 : รหัสขึ้นต้นด้วยหมายเลข 2 หมายถึง รายการจ่ายเงิน</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 pr-xl-0">
                        <p class="col-form-label-sm mb-0">3 : รหัสขึ้นต้นด้วยหมายเลข 3 หมายถึง รายการขาย</p>
                    </div>
                    <div class="col-auto">
                        <p class="col-form-label-sm mb-0">4 : รหัสขึ้นต้นด้วยหมายเลข 4 หมายถึง รายการซื้อ</p>
                    </div>
                </div>                
                <p class="col-form-label-sm mb-0">5 : รหัสขึ้นต้นด้วยหมายเลข 5 หมายถึง รายการปรับปรุง</p>
            </div>
        </section>
    </div>
</div>

<div id="PlaceHolderHere"></div>

@section Scripts {
    <script src="~/Plugins/Numeral/numeral.js"></script>
    <script>
        $(document).ready(function () {
            SelectDesCription()
            //CheckSystem()
        });

        //document.getElementById("CHSystem").addEventListener("click", () => {
        //    CheckSystem()
        //})

        document.getElementById("txtDesCription").addEventListener("click", () => {
            SelectDesCription()
        })

        //function CheckSystem() {
        //    if ($('#CHSystem').prop("checked") == true) {
        //        $('#txtSystem').prop("disabled", false)
        //    } else {
        //        $('#txtSystem').prop("disabled", true)
        //    }
        //}

        function SelectDesCription() {
            if ($('#txtDesCription').val() == '1') {
                $('#txtBookId').val('02')
            } else if ($('#txtDesCription').val() == '2') {
                $('#txtBookId').val('03')
            } else if ($('#txtDesCription').val() == '3') {
                $('#txtBookId').val('04')
            } else if ($('#txtDesCription').val() == '4') {
                $('#txtBookId').val('05')
            } else if ($('#txtDesCription').val() == '5') {
                $('#txtBookId').val('01')
            }
        }

        var PlaceHolderElement = $('#PlaceHolderHere')
        $('a[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url')
            $.get(url).done(function (data) {
                PlaceHolderElement.html(data)
                PlaceHolderElement.find('.modal').modal('show')
            })
        })

        $(document).on('keypress ', '.numberonly', function () {
            const e = event.keyCode
            if (e >= 48 && e <= 57 || e === 8 || e === 13 || e === 46) {
                event.returnValue = true
            } else {
                Swal.fire({ text: "สามารถกดได้แค่ตัวเลข", icon: 'warning' })
                event.returnValue = false
            }
        })

        $(document).on('blur ', '.numberonly', function () {
            const number = $(this).val()
            $(this).val(numeral(number).format('0'))
        })

        function showAccountChart(id) {

            $('#NoResults').remove();

            $.get("@Url.Action("GetView", "api")" + "/AShowAccountChart", { id: id },
                function (data, status) {

                    var rowItem = `<tr>`
                        + `<td>${data.accNo}</td>`
                        + `<td>${data.accName}</td>`
                        + `<td>`
                        + `<input type="text" class="form-control-plaintext form-table-control-sm text-right numberonly" value="0" placeholder="0.00" >`
                        + `</td>`
                        + `<td>`
                        + `<input type="text" class="form-control-plaintext form-table-control-sm text-right numberonly" value="0" placeholder="0.00" >`
                        + `</td>`
                        + `<td class="text-center"><a href="#" id="remove" class="text-danger">ลบ</a></td>`
                        + `</tr>`;
                    $("#bodyt").append(rowItem)
                }
            )

            $('#popupAccountChart').modal('hide')
        }

        // Remove
        $('body').on('click', '#remove', function () {
            $(this).parents('tr').remove();

            var tbody = document.getElementById('bodyt')

            if (tbody.rows.length === 0) {
                var t = '<tr id="NoResults">'
                    + '<td class="text-center text-danger" colspan="5">ไม่มีรายการ</td>'
                    + '</tr>';
                $('#bodyt').append(t)
            }
        })

        document.querySelector("[btn-save]").addEventListener('click', () => {
             Swal.fire({
                text: "ต้องการบันทึกข้อมูลหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {

                    if ($('#txtM_ID').val() == '') {
                        Swal.fire({ text: "กรุณากรอกรหัสรูปแบบ", icon: 'warning' })
                        return;
                    }

                    if ($('#txtM_Name').val() == '') {
                        Swal.fire({ text: "กรุณากรอกชื่อรูปแบบ", icon: 'warning' })
                        return;
                    }

                    var tdata = [];

                    // ตาราง
                    var t = document.getElementById('bodyt')
                    if (t.rows[0].cells[0].innerHTML != "ไม่มีรายการ") {
                        if (t.rows.length > 0) {
                            for (let i = 0; i < t.rows.length; i++) {
                                var id = t.rows[i].cells[0].innerHTML
                                var dr = t.rows[i].cells[2].getElementsByTagName("input")[0].value
                                var cr = t.rows[i].cells[3].getElementsByTagName("input")[0].value

                                var obj = { AccNo: id, Dr: dr, Cr: cr }
                                tdata.push(obj)
                            }
                        } else {
                            Swal.fire({ text: "กรุณาเลือกผังบัญชี", icon: 'warning' })
                            return;
                        }
                    } else {
                        Swal.fire({ text: "กรุณาเลือกผังบัญชี", icon: 'warning' })
                        return;
                    }

                    var data = new FormData();
                    data.append('M_ID', $('#txtM_ID').val());
                    data.append('BookId', $('#txtBookId').val());
                    data.append('M_Name', $('#txtM_Name').val());
                    data.append('M_DesCription', $('#txtDesCription').val());
                    if ($('#M_PType1').prop("checked") == true) {
                        data.append('M_PType', '1');
                    } else {
                        data.append('M_PType', '2');
                    }
                    data.append('Sub', JSON.stringify(tdata));

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("FrmTemplate", "GL_Template")',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {
                            $.each(data, function (index, val) {
                                if (val == "success") {
                                    window.location.href = '@Url.Action("Index", "GL_Template")'
                                } else {
                                    Swal.fire({ text: "ไม่สามารถบันทึกข้อมูลได้", icon: 'warning'} )
                                }
                            })
                        }
                    });

                }
            })
        })

        document.querySelector("[btn-delete]").addEventListener('click', () => {
             Swal.fire({
                text: "ต้องการลบข้อมูลหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {

                    var data = new FormData();
                    data.append('M_ID', $('#txtM_ID').val());

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "GL_Template")',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {
                            $.each(data, function (index, val) {
                                if (val == "success") {
                                    window.location.href = '@Url.Action("Index", "GL_Template")'
                                } else {
                                    Swal.fire({ text: "ไม่สามารถบันทึกข้อมูลได้", icon: 'warning'} )
                                }
                            })
                        }
                    });
                }
            })
        })
    </script>
}