@{
    ViewData["Title"] = "รูปแบบบัญชี 1";
    ViewData["System"] = "รูปแบบบัญชี 1";
    Layout = "_Manage";
}

<div class="card">
    <div class="card-body">
        <section>
            <div class="d-flex mb-2">
                <div class="mr-2">
                    <a href="@Url.Action("FrmTemplate", "GL_Template", new { mode = "Add"})" class="col-form-label-sm text-success"><i class="fas fa-folder-plus"></i>&nbsp;เพิ่มรูปแบบบัญชี 1</a>
                </div>
            </div>
            <hr />
        </section>
        <!-- Table -->
        <section>
            <div class="card border-0">
                <div class="card-body table-responsive p-0" scroll>
                    <table class="table table-md table-bordered table-head-fixed" id="DataTable">
                        <thead class="thead-primary-light">
                            <tr>
                                <th class="text-center">รหัสรูปแบบ</th>
                                <th class="text-center">ชื่อรูปแบบ</th>
                                <th class="text-center" style="width:15%;">รหัสสมุดบัญชี</th>
                                <th class="text-center">ชื่อสมุดบัญชี</th>
                                <th class="text-center" style="width:5%;"> </th>
                            </tr>
                        </thead>
                        <tbody id="bodyt">
                            @{
                                if (ViewBag.DataTable != null && ViewBag.DataTable.Count > 0)
                                {
                                    foreach(var row in ViewBag.DataTable)
                                    {
                                        <tr>
                                            <td>@row.M_ID</td>
                                            <td>@row.M_Name</td>
                                            <td>@row.BookId</td>
                                            <td>@row.BookName</td>
                                            <td class="text-center"><a href="@Url.Action("FrmTemplate", "GL_Template", new { mode = "Edit", id = row.M_ID})" class="text-info"><i class="fas fa-edit"></i></a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="NoResults">
                                        <td class="text-center text-danger" colspan="5">ไม่มีรายการ</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>            
        </section>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('[scroll]').slimScroll({
                height: $(window).height() - $('.navbar').height() - 148,
                railBorderRadius: 0,
                railVisible: true,
                distance: '-10px'
            });
        });
    </script>
}